@font-face {
  font-family: 'code_pro';
  src: url("../fonts/code/code_pro_bold-webfont.eot");
  src: url("../fonts/code/code_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/code/code_pro_bold-webfont.woff2") format("woff2"), url("../fonts/code/code_pro_bold-webfont.woff") format("woff"), url("../fonts/code/code_pro_bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'code_pro';
  src: url("../fonts/code/code_pro_light-webfont.eot");
  src: url("../fonts/code/code_pro_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/code/code_pro_light-webfont.woff2") format("woff2"), url("../fonts/code/code_pro_light-webfont.woff") format("woff"), url("../fonts/code/code_pro_light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'code_pro';
  src: url("../fonts/code/code_pro-webfont.eot");
  src: url("../fonts/code/code_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/code/code_pro-webfont.woff2") format("woff2"), url("../fonts/code/code_pro-webfont.woff") format("woff"), url("../fonts/code/code_pro-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  font-size: 16px; }

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes moveTop {
  0% {
    top: 0px; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes moveTop {
  0% {
    top: 0px; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

/* ---=== Icons ===--- */
.icon-avatar {
  background-image: url(../img/sprite.png);
  background-position: -149px -75px;
  width: 21px;
  height: 24px; }

.icon-facebook {
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -317px -123px;
  width: 9px;
  height: 20px; }

.how__icon_1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -75px;
  width: 71px;
  height: 71px; }

.how__icon_2 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 78px;
  height: 70px; }

.how__icon_3 {
  background-image: url(../img/sprite.png);
  background-position: -83px 0px;
  width: 91px;
  height: 58px; }

.how__icon_4 {
  background-image: url(../img/sprite.png);
  background-position: -179px 0px;
  width: 72px;
  height: 61px; }

.how__icon_5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -151px;
  width: 78px;
  height: 55px; }

.how__icon_6 {
  background-image: url(../img/sprite.png);
  background-position: -256px -61px;
  width: 68px;
  height: 57px; }

.how__icon_7 {
  background-image: url(../img/sprite.png);
  background-position: -256px 0px;
  width: 74px;
  height: 56px; }

.icon-icon-expand {
  background-image: url(../img/sprite.png);
  background-position: -256px -123px;
  width: 56px;
  height: 56px; }

.icon-instagram {
  background-image: url(../img/sprite.png);
  background-position: -256px -184px;
  width: 19px;
  height: 20px;
  display: inline-block; }

.why__icon_1 {
  background-image: url(../img/sprite.png);
  background-position: -179px -66px;
  width: 54px;
  height: 57px; }

.why__icon_2 {
  background-image: url(../img/sprite.png);
  background-position: -83px -151px;
  width: 56px;
  height: 50px; }

.why__icon_3 {
  background-image: url(../img/sprite.png);
  background-position: -76px -75px;
  width: 68px;
  height: 67px; }

.why__icon_4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -269px;
  width: 42px;
  height: 54px; }

.why__icon_5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -211px;
  width: 43px;
  height: 53px; }

.why__icon_6 {
  background-image: url(../img/sprite.png);
  background-position: -144px -151px;
  width: 46px;
  height: 46px; }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 250px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  background-color: #fff;
  padding: 13px 15px 12px;
  border: 2px solid #fff;
  color: #4f3e70;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover {
  color: #ffffff;
  border-color: #4f3e70;
  background: #4f3e70;
  text-decoration: none; }

.butn:focus {
  border-color: #4f3e70; }

.butn_call {
  text-transform: uppercase;
  padding-left: 50px; }

.butn_call:before {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  width: 15px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%234f3e70%22%20d%3D%22M11.24%209.27l.26-.76%204.5%201.6-.23.76zm4.27%202.55l-.27.79s-.85%202.92-2.92%202.31l-1.5-.74S5%2011.2%201.7%205.78l-.64-1.29c-.6-2.07%202.67-2.57%202.67-2.57l.42-.18%202.27%203.89-.7.27a.4.4%200%200%201-.13.04c.01%200%20.03.02.04.08.1%201.22%201.39%202.88%201.68%203.25%201.32%201.07%203.28%201.58%203.28%201.58.1.03.13.13.2-.12.04-.07.14-.55.14-.55zM7.29%205.25l.67-.22L5.8%201l-.75.32z%22%2F%3E%3C%2Fsvg%3E");
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn_call:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.24%209.27l.26-.76%204.5%201.6-.23.76zm4.27%202.55l-.27.79s-.85%202.92-2.92%202.31l-1.5-.74S5%2011.2%201.7%205.78l-.64-1.29c-.6-2.07%202.67-2.57%202.67-2.57l.42-.18%202.27%203.89-.7.27a.4.4%200%200%201-.13.04c.01%200%20.03.02.04.08.1%201.22%201.39%202.88%201.68%203.25%201.32%201.07%203.28%201.58%203.28%201.58.1.03.13.13.2-.12.04-.07.14-.55.14-.55zM7.29%205.25l.67-.22L5.8%201l-.75.32z%22%2F%3E%3C%2Fsvg%3E"); }

.butn_yellow {
  color: #894dbe;
  background-color: #f2a809;
  border-color: #f2a809; }

.butn_yellow:hover {
  background-color: #894dbe;
  border-color: #894dbe;
  color: #fff; }

.butn_yellow:hover:focus {
  color: #fff; }

.butn_yellow:focus {
  border-color: #894dbe;
  color: #894dbe; }

.butn_xl {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  min-width: 490px; }

.butn_white {
  color: #894dbe;
  border-color: #894dbe;
  background: #fff; }

.butn_white:hover {
  background: #894dbe;
  color: #fff;
  border-color: #894dbe; }

.butn_white:hover:focus {
  color: #fff; }

.butn_white:focus {
  background-color: #e7d6f5;
  border-color: #894dbe; }

.butn_violet {
  background: #894dbe;
  color: #fff;
  border-color: #894dbe; }

.butn_violet:hover {
  background-color: #4f3e70;
  color: #fff;
  border-color: #4f3e70; }

.butn_violet:focus {
  background-color: #e7d6f5;
  color: #4f3e70; }

.butn_more {
  padding-right: 90px;
  position: relative; }

.butn_more:after, .butn_more:before {
  content: "";
  display: block;
  position: absolute;
  display: block;
  right: 37px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn_more:before {
  height: 13px;
  width: 13px;
  top: 50%;
  margin-top: -6px;
  border-top: 2px solid #894dbe;
  border-right: 2px solid #894dbe;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.butn_more:after {
  top: 50%;
  height: 2px;
  width: 41px;
  background-color: #894dbe; }

.butn_more:hover:before {
  border-color: #fff; }

.butn_more:hover:after {
  background: #fff; }

/*--== end buttons ==--*/
header {
  padding-top: 70px;
  position: absolute;
  right: 0;
  left: 0; }

header .butn_call {
  position: relative;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  float: left; }

header a[href*='tel'] {
  padding-top: 5px;
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding-left: 25px;
  float: left;
  position: relative;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

header a[href*='tel'] b {
  font-weight: 600; }

header a[href*='tel']:hover {
  text-decoration: none;
  opacity: 0.8; }

#nav {
  float: right;
  list-style: none;
  display: block; }

#nav li {
  display: inline-block;
  margin-left: 20px;
  position: relative; }

#nav li:last-child {
  margin-left: 0; }

#nav li.current a:before {
  right: 0; }

#nav li > a {
  display: inline-block;
  line-height: 45px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 12px 10px;
  position: relative; }

#nav li > a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 4px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#nav li > a.cabinet {
  position: absolute;
  bottom: -webkit-calc(100% + 27px);
  bottom: calc(100% + 27px);
  right: 0;
  padding-left: 35px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400 !important;
  white-space: nowrap;
  text-transform: none !important; }

#nav li > a.cabinet:before {
  display: none; }

#nav li > a.cabinet:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -149px -75px;
  width: 21px;
  height: 24px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

#nav li > a.cabinet:hover {
  text-decoration: underline; }

#nav li > a:hover {
  text-decoration: none; }

#nav li > a:hover:before {
  right: 0; }

.header__socials {
  margin-left: 35px;
  display: inline-block;
  height: 45px;
  width: 124px;
  text-align: center;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  line-height: 45px; }

.header__socials a {
  display: inline-block;
  vertical-align: middle; }

.header__socials a:hover {
  opacity: 0.8; }

.header__socials a + a {
  margin-left: 25px; }

#hamburger {
  display: none;
  float: right;
  width: 35px;
  height: 35px;
  position: relative;
  margin: -8px 0 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

main {
  overflow-x: hidden; }

.section {
  padding: 100px 0; }

.banner {
  background: url("../img/bg-banner.png") no-repeat center;
  background-size: cover;
  min-height: 857px;
  padding-top: 169px; }

.banner .logo {
  width: 173px;
  margin: 0 auto 30px; }

.banner__title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 30px; }

.banner__title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background-color: #ffffff; }

.banner__title h1 {
  text-align: center;
  color: #fefefe;
  font-family: 'code_pro';
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase; }

.banner__title h1 span {
  display: block;
  font-size: 44px;
  font-weight: 400; }

.banner__title_inner:before {
  display: none; }

.banner__subtitle {
  color: #fefefe;
  font-family: 'code_pro';
  font-size: 44px;
  line-height: 1;
  text-align: center; }

.banner__subtitle b {
  font-size: 91px; }

.logo img {
  max-width: 100%; }

.how-it-wroks {
  padding: 130px 0 0; }

.how-it-wroks .row {
  margin-right: -50px;
  margin-left: -50px;
  counter-reset: how; }

.how-it-wroks .row [class*='col-'] {
  padding: 0 50px; }

.how-it-wroks .row [class*='col-']:nth-child(5) {
  margin-left: 12.5%; }

.section__title {
  max-width: 1000px;
  position: relative;
  padding-bottom: 24px;
  margin: 0 auto 60px; }

.section__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 178px;
  height: 5px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #8b4ba9;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.section__title h2 {
  color: #4f3e70;
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-align: center; }

.section__title_white h2,
.section__title_white span {
  color: #fff !important; }

.section__title_white:before {
  background: #fff; }

.how {
  margin-bottom: 110px;
  counter-increment: how;
  position: relative;
  padding-top: 90px;
  cursor: default; }

.how:hover {
  -webkit-animation: moveTop 0.3s;
          animation: moveTop 0.3s; }

.how:before {
  content: counter(how);
  position: absolute;
  top: 44px;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #894dbe;
  color: #eab3cd;
  font-size: 24px;
  font-weight: 700; }

.how__icon {
  position: absolute;
  top: 0;
  left: 49px; }

.how__text {
  color: #271420;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.how__text b {
  display: block;
  margin-bottom: 4px; }

.how:hover .how__icon {
  -webkit-animation: moveTop 0.5s;
          animation: moveTop 0.5s; }

.promo {
  background: url("../img/bg-promo.png") no-repeat center;
  background-size: cover;
  position: relative; }

.promo__title {
  text-align: center; }

.promo__title img {
  max-width: 100%; }

.promo__undertitle {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 45px; }

.promo__subtitle {
  text-align: center; }

.promo__subtitle p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700; }

.promo__list {
  text-align: center;
  list-style: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);
  color: #f2a809;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase; }

.promo__list li {
  display: inline-block;
  position: relative;
  padding: 0 14px 0 30px; }

.promo__list li:last-child {
  padding-right: 30px; }

.promo__list li:last-child:after {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: #f2a809;
  right: 0;
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.promo__list li:before {
  content: "";
  display: block;
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: #f2a809;
  left: 0;
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.albums {
  background-color: #8e509f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(214, 101, 121, 0.95)), color-stop(80%, rgba(79, 62, 112, 0.95)), to(rgba(79, 62, 112, 0.95))), url("../img/bg-albums.png");
  background-image: -webkit-linear-gradient(bottom, rgba(214, 101, 121, 0.95) 0%, rgba(79, 62, 112, 0.95) 80%, rgba(79, 62, 112, 0.95) 100%), url("../img/bg-albums.png");
  background-image: linear-gradient(to top, rgba(214, 101, 121, 0.95) 0%, rgba(79, 62, 112, 0.95) 80%, rgba(79, 62, 112, 0.95) 100%), url("../img/bg-albums.png"); }

.slider-wrap {
  text-align: center;
  margin-bottom: 90px; }

.slider-wrap_fluid {
  margin-bottom: 62px; }

.slider__title {
  display: inline-block;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0 63px;
  margin-bottom: 50px; }

.slider__title:after, .slider__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 1px;
  background-color: #ffffff; }

.slider__title:after {
  right: 0; }

.slider__title:before {
  left: 0; }

.slider {
  margin: 0 -5px; }

.slider__item {
  padding: 0 5px; }

.slider__item-img {
  display: inline-block;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  position: relative;
  text-align: center; }

.slider__item-img img {
  max-width: 100%; }

.slider__item-title {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -100%;
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 1;
  padding: 25px 66px 25px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slider__item-title:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -256px -123px;
  width: 56px;
  height: 56px;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.slider__item-img:hover .slider__item-title {
  bottom: 0; }

#slider-fluid__dotts {
  margin-bottom: 130px; }

#slider-fluid__dotts .slick-dots {
  list-style: none;
  display: table;
  width: 100%;
  height: 8px;
  padding: 2px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: rgba(217, 217, 217, 0.21); }

#slider-fluid__dotts .slick-dots li {
  display: table-cell;
  height: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#slider-fluid__dotts .slick-dots li button {
  display: none; }

#slider-fluid__dotts .slick-dots li.slick-active {
  background: #fff; }

.color-gold {
  color: #f2a809; }

.redirect {
  background-color: #775ac8;
  background: -webkit-linear-gradient(83deg, rgba(119, 90, 200, 0.8) 0%, rgba(170, 94, 219, 0.8) 100%), url("../img/bg-redirect.png");
  background: linear-gradient(7deg, rgba(119, 90, 200, 0.8) 0%, rgba(170, 94, 219, 0.8) 100%), url("../img/bg-redirect.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 52px 0; }

.redirect p {
  max-width: 684px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2; }

.redirect .butn {
  width: 390px;
  max-width: 100%;
  min-width: initial;
  margin-top: 10px; }

.redirect .butn:hover {
  background: #fff;
  color: #894dbe; }

.redirect__butn-holder {
  text-align: left; }

.masonry {
  margin: 0 -5px; }

.masonry__item_sizer {
  width: 20%; }

.masonry__item {
  width: 20%;
  padding: 0 5px;
  margin-bottom: 10px; }

.masonry__item img {
  width: 100%; }

.masonry__item_xl {
  width: 40%; }

.why-we {
  background: #e4e4e1 url("../img/bg-why-we.png") no-repeat center; }

.why-we .row {
  counter-reset: why; }

.why-we .row [class*='col-']:nth-child(odd) {
  clear: left; }

.why-we .row [class*='col-']:nth-child(1) .why__text:after, .why-we .row [class*='col-']:nth-child(2) .why__text:after {
  width: -webkit-calc(50% + 140px);
  width: calc(50% + 140px); }

.why-we .row [class*='col-']:nth-child(3) .why__text:after, .why-we .row [class*='col-']:nth-child(4) .why__text:after {
  width: -webkit-calc(64% + 140px);
  width: calc(64% + 140px); }

.why-we .row [class*='col-']:nth-child(5) .why__text:after, .why-we .row [class*='col-']:nth-child(6) .why__text:after {
  width: -webkit-calc(79% + 140px);
  width: calc(79% + 140px); }

.why {
  padding-right: 197px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  position: relative;
  counter-increment: why;
  min-height: 144px; }

.why__icon-wrap {
  position: absolute;
  top: 0;
  right: 29px;
  width: 69px;
  height: 69px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), inset 0 0 6px rgba(65, 42, 125, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), inset 0 0 6px rgba(65, 42, 125, 0.6);
  background-color: #4f3e70;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.why__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.why__title {
  color: #271420;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  max-width: 410px;
  margin-left: auto; }

.why__title:before {
  content: counter(why);
  position: absolute;
  top: 1px;
  right: -44px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #894dbe;
  color: #eab3cd;
  font-size: 24px;
  font-weight: 700; }

.why__text {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  position: relative;
  max-width: 450px;
  margin-left: auto; }

.why__text:before {
  content: "";
  display: block;
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: #4f3e70;
  right: -137px;
  bottom: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.why__text:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #4f3e70;
  bottom: 3px;
  right: -134px; }

.why:hover .why__icon-wrap {
  -webkit-animation: moveTop 0.3s;
          animation: moveTop 0.3s; }

.why_right {
  padding-left: 197px;
  padding-right: 0;
  text-align: left; }

.why_right .why__icon-wrap {
  position: absolute;
  top: 0;
  right: initial;
  left: 26px;
  width: 69px; }

.why_right .why__title {
  margin-left: 0;
  margin-right: auto; }

.why_right .why__title:before {
  right: initial;
  left: -44px; }

.why_right .why__text {
  margin-right: auto;
  margin-left: 0; }

.why_right .why__text:before {
  right: initial;
  left: -137px; }

.why_right .why__text:after {
  right: initial;
  left: -134px; }

.section__title span {
  display: block;
  padding-top: 12px;
  color: #894dbe;
  font-size: 24px;
  font-weight: 700;
  text-align: center; }

.places__butn-wrap {
  text-align: center;
  padding-top: 60px; }

.prices {
  background-color: #a2a2a2;
  background: url("../img/bg-prices.png"), -webkit-gradient(linear, left bottom, left top, from(#775ac8), color-stop(32%, #775ac8), to(#9d71ea));
  background: url("../img/bg-prices.png"), -webkit-linear-gradient(bottom, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
  background: url("../img/bg-prices.png"), linear-gradient(to top, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
  background-position: center;
  background-repeat: no-repeat; }

.prices-wrap {
  text-align: center; }

.price {
  display: inline-block;
  margin-right: 30px;
  width: 26%;
  min-width: 265px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  background-color: #efefef;
  padding: 50px 0 180px;
  position: relative;
  -webkit-box-shadow: 0 28px 63px -20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 28px 63px -20px rgba(0, 0, 0, 0.7); }

.price:last-child {
  margin-right: 0; }

.price__title {
  padding: 15px 0 0;
  color: #271420;
  font-size: 36px;
  font-weight: 400;
  line-height: 1; }

.price__value {
  padding: 19px 5px 25px;
  color: #894dbe;
  font-weight: 700;
  line-height: 1;
  font-size: 36px;
  border-bottom: 1px solid #b1b1b1; }

.price__value span {
  font-size: 60px; }

.price__details {
  min-height: 90px;
  padding: 33px 10px 10px;
  color: #271420;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  border-bottom: 1px solid #b1b1b1; }

.price__butn {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0; }

.got-questions {
  background-color: #eb9db8;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#edebf0), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #edebf0 0%, #ffffff 100%);
  background-image: linear-gradient(to top, #edebf0 0%, #ffffff 100%); }

.got-questions__img {
  text-align: center;
  margin-bottom: 40px; }

.got-questions__img img {
  max-width: 100%; }

.got-questions__butn {
  text-align: center; }

.testemonial {
  padding-top: 22px;
  text-align: center; }

.testemonial__img {
  display: block;
  margin: 0 auto 30px;
  width: 197px;
  height: 197px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #4f3e70;
  -webkit-box-shadow: -30px -20px 0 0 #4f3e70;
  box-shadow: -30px -20px 0 0 #4f3e70; }

.testemonial__img img {
  max-width: 100%; }

.testemonial__title {
  display: inline-block;
  color: #271420;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding: 0 40px;
  margin-bottom: 35px; }

.testemonial__title:after, .testemonial__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 149px;
  background-color: #271420; }

.testemonial__title:before {
  right: 100%; }

.testemonial__title:after {
  left: 100%; }

.testemonial__text {
  color: #271420;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400; }

.testemonial__text p {
  margin-bottom: 25px; }

.testemonials-slider {
  max-width: 1318px;
  margin: 0 auto;
  position: relative; }

.testemonials-slider .slick-arrow {
  position: absolute;
  height: 200px;
  width: 50px;
  top: 0;
  right: 50%;
  z-index: 990; }

.testemonials-slider .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 19px;
  height: 35px; }

.testemonials-slider .slick-arrow span:after, .testemonials-slider .slick-arrow span:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #4f3e70;
  width: 25px;
  height: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.testemonials-slider .slick-arrow-right {
  -webkit-transform: translateX(212px);
      -ms-transform: translateX(212px);
          transform: translateX(212px); }

.testemonials-slider .slick-arrow-right span:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 25px;
  left: -2px; }

.testemonials-slider .slick-arrow-right span:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  left: -2px; }

.testemonials-slider .slick-arrow-right:hover span {
  opacity: 0.4; }

.testemonials-slider .slick-arrow-right:hover span:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.testemonials-slider .slick-arrow-right:hover span:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.testemonials-slider .slick-arrow-left {
  -webkit-transform: translateX(-162px);
      -ms-transform: translateX(-162px);
          transform: translateX(-162px); }

.testemonials-slider .slick-arrow-left span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25px;
  left: -2px; }

.testemonials-slider .slick-arrow-left span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
  left: -2px; }

.testemonials-slider .slick-arrow-left:hover span {
  opacity: 0.4; }

.testemonials-slider .slick-arrow-left:hover span:before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.testemonials-slider .slick-arrow-left:hover span:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.contacts {
  background-color: #ff2424;
  background: -webkit-linear-gradient(297deg, rgba(196, 79, 158, 0.9) 0%, rgba(117, 79, 166, 0.9) 81%, rgba(117, 79, 166, 0.9) 100%), url("../img/bg-contacts.png");
  background: linear-gradient(153deg, rgba(196, 79, 158, 0.9) 0%, rgba(117, 79, 166, 0.9) 81%, rgba(117, 79, 166, 0.9) 100%), url("../img/bg-contacts.png");
  background-position: center top;
  background-size: cover; }

/*--== form style ==--*/
.form-wrap {
  max-width: 714px;
  margin: 0 auto 50px;
  padding: 70px 30px;
  -webkit-box-shadow: 6px 10px 103px rgba(0, 0, 0, 0.72);
          box-shadow: 6px 10px 103px rgba(0, 0, 0, 0.72);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #4f3e70;
  background-image: -webkit-linear-gradient(297deg, rgba(117, 79, 166, 0.8) 0%, rgba(117, 79, 166, 0.8) 19%, rgba(196, 79, 158, 0.8) 100%);
  background-image: linear-gradient(153deg, rgba(117, 79, 166, 0.8) 0%, rgba(117, 79, 166, 0.8) 19%, rgba(196, 79, 158, 0.8) 100%); }

.form-wrap__title {
  color: #ffffff;
  font-size: 24px;
  max-width: 480px;
  margin: 0 auto 44px;
  text-align: center; }

.form-wrap__title b {
  display: block;
  font-size: 36px; }

.form {
  max-width: 480px;
  margin: 0 auto; }

.form .input-row {
  padding: 0 60px; }

.form .input-row_butn {
  padding: 70px 0 0; }

.form input {
  background: transparent;
  width: 100%;
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  padding: 18px 0 5px;
  vertical-align: bottom;
  margin-bottom: 5px;
  border-color: transparent;
  border-bottom: 1px solid #fff; }

fieldset {
  padding: 0;
  border: none;
  position: relative; }

input + label,
textarea + label {
  position: absolute;
  top: 25px;
  left: 0;
  line-height: 1;
  z-index: 9;
  opacity: 0.41;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

input:focus + label,
label.stay,
textarea:focus + label {
  top: 0; }

.slider,
.slider-album,
.slider-fluid, .gallery {
  position: relative; }

.slider .slick-arrow,
.slider-album .slick-arrow,
.slider-fluid .slick-arrow, .gallery .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  z-index: 999; }

.slider .slick-arrow span,
.slider-album .slick-arrow span,
.slider-fluid .slick-arrow span, .gallery .slick-arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 67px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slider .slick-arrow:hover,
.slider-album .slick-arrow:hover,
.slider-fluid .slick-arrow:hover, .gallery .slick-arrow:hover {
  opacity: 0.8; }

.slider .slick-arrow-right,
.slider-album .slick-arrow-right,
.slider-fluid .slick-arrow-right, .gallery .slick-arrow-right {
  right: 0; }

.slider .slick-arrow-right span,
.slider-album .slick-arrow-right span,
.slider-fluid .slick-arrow-right span, .gallery .slick-arrow-right span {
  background: url("../img/arrow-right.png"); }

.slider .slick-arrow-left,
.slider-album .slick-arrow-left,
.slider-fluid .slick-arrow-left, .gallery .slick-arrow-left {
  left: 0; }

.slider .slick-arrow-left span,
.slider-album .slick-arrow-left span,
.slider-fluid .slick-arrow-left span, .gallery .slick-arrow-left span {
  background: url("../img/arrow-left.png"); }

/*--== content album ==--*/
.banner_inner {
  min-height: 607px; }

.banner_bg-album {
  background: url("../img/bg-album.png"); }

.section__title b {
  font-weight: 900; }

.slider-album-nav__item img {
  max-width: 100%; }

.album-description-wrap {
  padding-left: 85px; }

.album-description {
  color: #271420;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px; }

.album-description__title {
  color: #4f3e70;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 5px;
  position: relative;
  margin-bottom: 20px; }

.album-description__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 3px;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background-color: #894dbe;
  bottom: 0;
  left: 0; }

.album-description__subtitle {
  font-weight: 700;
  margin-bottom: 50px; }

.album-description ol,
.album-description ul {
  list-style: none; }

.album-description ol > li {
  display: block;
  position: relative;
  counter-increment: step-counter; }

.album-description ol > li:before {
  content: counter(step-counter) ")";
  display: inline-block;
  margin-right: 5px; }

.album-description ol > li span {
  display: block;
  font-weight: 700;
  padding-top: 15px; }

.album-description ol ul {
  margin-bottom: 15px; }

.album-description ol ul > li:before {
  content: '-';
  display: inline-block;
  margin-right: 5px; }

.album-description ol p {
  margin-bottom: 15px; }

.album-details {
  list-style: none; }

.album-details li {
  display: block;
  margin-bottom: 12px;
  color: #271420;
  font-size: 14px;
  font-weight: 400; }

.album-details li span {
  display: inline-block;
  margin-left: 5px;
  color: #894dbe;
  font-weight: 700;
  font-size: 18px; }

.album-price {
  display: inline-block;
  color: #4f3e70;
  font-size: 24px;
  font-weight: 700;
  float: left;
  width: 50%; }

.album-price span {
  font-size: 36px;
  font-weight: 700; }

.album-order .butn {
  padding: 15px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  float: right;
  text-transform: uppercase;
  min-width: initial;
  max-width: 250px;
  width: 50%; }

.go-to-butn-holder {
  padding-top: 120px;
  text-align: center; }

.slider-album, .gallery {
  margin-bottom: 10px; }

.slider-album__item img, .gallery__item img {
  width: 100%; }

.slider-album .slick-dots, .gallery .slick-dots {
  list-style: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px; }

.slider-album .slick-dots li, .gallery .slick-dots li {
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 7px;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  position: relative; }

.slider-album .slick-dots li:before, .gallery .slick-dots li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slider-album .slick-dots li.slick-active:before, .gallery .slick-dots li.slick-active:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

.slider-album .slick-dots li button, .gallery .slick-dots li button {
  display: none; }

.slider-album-nav {
  margin: 0 0 0 -5px; }

.slider-album-nav__item {
  padding: 0 5px 10px;
  min-width: 25%; }

.slider-album-nav__item img {
  width: 100%; }

.slider-album-nav__item.slick-current .slider-album-nav__img-wrap {
  background-color: #1b191a; }

.slider-album-nav__item.slick-current img {
  opacity: 0.5; }

.banner_bg-gallery {
  background: #894dbe url("../img/bg-gallery.png") no-repeat center;
  background-size: cover; }

.gallerys-wrap {
  overflow: hidden; }

.gallerys {
  font-size: 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.gallery-caption {
  width: 306px;
  height: 306px;
  display: inline-block;
  overflow: hidden;
  position: relative; }

.gallery-caption img {
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.gallery-caption .gallery-caption__title {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  background: rgba(27, 25, 26, 0.5); }

.gallery-caption .gallery-caption__title span {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  opacity: 0; }

.gallery-caption:hover .gallery-caption__title {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.gallery-caption:hover .gallery-caption__title span {
  opacity: 1; }

.gallery {
  display: none; }

/* --== footer ==--*/
.footer__top {
  background-color: #322d3c;
  padding: 24px 0 22px; }

.footer__top a[href*='tel'] {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400; }

.footer__logo a {
  display: block;
  margin-bottom: 18px; }

.footer__logo img {
  max-width: 137px; }

.footer__logo span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1; }

.footer__item-title {
  padding-top: 25px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 45px; }

.footer__nav {
  list-style: none; }

.footer__nav li {
  display: block;
  margin-bottom: 8px; }

.footer__nav li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.5px; }

.footer__nav_2col {
  overflow: hidden; }

.footer__nav_2col li {
  width: 50%;
  float: left; }

.footer__socials a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 37px; }

.footer__socials a:last-child {
  margin-bottom: 0; }

.footer__socials .icon-instagram {
  margin-right: 27px; }

.footer__socials .icon-facebook {
  margin-right: 31px;
  margin-left: 6px; }

.footer__bottom {
  background-color: #1c1922;
  padding: 15px 0; }

.footer__bottom p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

.copyright {
  text-align: center; }

.copyright a {
  color: #8b4ba9;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline; }

.copyright a:hover {
  text-decoration: none; }

.modal-dialog {
  margin-top: 70px; }

.modal-content {
  position: relative; }

.close-modal {
  top: -15px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1; }

.close-modal:hover {
  opacity: 0.8; }

.foggot {
  opacity: 0.41;
  color: #fff;
  font-size: 14px;
  font-weight: 400; }

.modal-backdrop {
  background: #1b191a; }

.modal-backdrop.in {
  opacity: .9; }

/*MEDIA QUERY*/
@media (min-width: 642px) {
  .gallerys {
    width: 612px; } }

@media (min-width: 1200px) {
  .gallerys {
    width: 918px; } }

@media (min-width: 1360px) {
  .container {
    width: 1340px; }
  .gallerys {
    width: 1224px; } }

@media (min-width: 1580px) {
  .container {
    width: 1560px; }
  .gallerys {
    width: 1530px; } }

@media (max-width: 1359px) {
  header a[href*='tel'] {
    padding-top: 0;
    max-width: 250px;
    display: block;
    padding-left: 0;
    float: none;
    position: relative;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    margin-bottom: 24px; }
  header .butn_call {
    position: relative;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  #nav li {
    margin-left: 0; }
  .header__socials {
    margin-left: 0; }
  header {
    padding-top: 30px; }
  .price__title {
    font-size: 30px; }
  .price__value span {
    font-size: 45px; }
  .footer__item-title {
    font-size: 20px; }
  .footer__top a[href*='tel'] {
    font-size: 20px; }
  .footer__nav li a {
    font-size: 16px; }
  .footer__socials .icon-instagram {
    margin-right: 17px; }
  .footer__socials .icon-facebook {
    margin-right: 21px; }
  .album-description-wrap {
    padding-left: 15px; } }

@media (max-width: 1199px) {
  .how-it-wroks .row [class*='col-'] {
    padding: 0 15px; }
  .how-it-wroks .row [class*='col-']:nth-child(5) {
    margin-left: 0; }
  .how-it-wroks .row [class*='col-']:nth-child(7) {
    margin-left: 33.3333%; }
  .how-it-wroks .row {
    margin-right: -15px;
    margin-left: -15px; }
  .promo__undertitle {
    margin-bottom: 0;
    font-size: 30px; }
  .promo__subtitle p {
    font-size: 18px; }
  .promo__list {
    font-size: 21px; }
  .footer__logo span {
    font-size: 16px;
    display: block;
    text-align: center; }
  .slider-album-nav {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  #nav {
    display: block !important; }
  .container_fluid-desc {
    width: 100%; } }

@media (max-width: 991px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 9px 0;
    background-color: #a2a2a2;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#775ac8), color-stop(32%, #775ac8), to(#9d71ea));
    background-image: -webkit-linear-gradient(bottom, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
    background-image: linear-gradient(to top, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
    z-index: 800; }
  #nav {
    width: 100%;
    clear: both;
    display: none;
    padding: 55px 0 49px;
    position: static;
    float: none;
    z-index: 800; }
  #nav li {
    display: block;
    text-align: center;
    margin-bottom: 36px; }
  #nav li:last-child {
    margin-top: 50px; }
  #nav li a:before {
    height: 2px; }
  #nav li > a.cabinet {
    position: relative;
    bottom: initial;
    right: initial;
    display: inline-block;
    margin-left: 34px;
    font-size: 14px; }
  .header__socials {
    display: inline-block;
    border-color: transparent;
    width: auto; }
  .header__socials a {
    display: inline-block;
    width: 33px;
    height: 33px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #ffffff;
    position: relative; }
  .header__socials a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  header a[href*='tel'] {
    margin-bottom: 1px;
    font-size: 16px;
    position: relative; }
  .butn {
    font-size: 14px;
    padding: 6px 15px;
    min-width: initial; }
  .butn_call {
    text-transform: none;
    padding-left: 30px; }
  .butn_call:before {
    left: 10px; }
  .section__title:before {
    height: 3px; }
  header .butn_call {
    position: relative;
    z-index: 900; }
  #hamburger {
    display: block; }
  section.banner {
    min-height: initial;
    padding: 90px 0 140px; }
  .banner__title h1 {
    font-size: 53px; }
  .banner__title h1 span {
    font-size: 38px; }
  .banner__subtitle {
    font-size: 34px; }
  .banner__subtitle b {
    font-size: 70px; }
  .how-it-wroks .row [class*='col-']:nth-child(odd) {
    clear: left; }
  .how-it-wroks .row [class*='col-']:last-child .how {
    margin-bottom: 20px; }
  .how-it-wroks .row [class*='col-']:nth-child(7) {
    margin-left: 25%; }
  .section {
    padding: 50px 0; }
  .section__title {
    margin-bottom: 30px; }
  .section__title h2 {
    font-size: 40px; }
  .slider,
  .slider-fluid {
    padding: 0 30px; }
  .slider-wrap {
    margin-bottom: 55px; }
  .slider__title {
    font-size: 29px;
    margin-bottom: 25px; }
  #slider-fluid__dotts {
    display: none; }
  .redirect__butn-holder {
    text-align: center; }
  .redirect__butn-holder .butn {
    max-width: 185px; }
  .redirect p {
    margin: 0 auto 20px;
    text-align: center;
    font-size: 32px; }
  .why {
    width: 520px;
    max-width: 100%;
    margin: 0 auto 30px;
    min-height: initial;
    padding-right: 80px; }
  .why_right {
    padding-left: 80px;
    padding-right: 0; }
  .why__icon-wrap {
    right: 0; }
  .why_right .why__icon-wrap {
    left: 0; }
  .why-we {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #e3e3df), color-stop(80%, #c6c6c1));
    background: -webkit-linear-gradient(bottom, #e3e3df 20%, #c6c6c1 80%);
    background: linear-gradient(to top, #e3e3df 20%, #c6c6c1 80%); }
  .why-we .section__title {
    margin-bottom: 50px; }
  .why__text:after, .why__text:before {
    display: none; }
  .why__title {
    font-size: 18px;
    line-height: 1.3; }
  .why__title:before {
    top: -30px;
    right: 0; }
  .why_right .why__title:before {
    right: initial;
    left: 0; }
  .butn_more {
    padding-right: 50px; }
  .butn_more:after,
  .butn_more:before {
    right: 15px; }
  .butn_more:before {
    height: 10px;
    width: 10px;
    margin-top: -4px; }
  .butn_more:after {
    width: 21px; }
  .butn_xl {
    padding-top: 10px;
    padding-bottom: 11px; }
  .price__title {
    font-size: 30px; }
  .price {
    margin-bottom: 30px;
    padding: 25px 0 90px; }
  .price:nth-child(2) {
    margin-right: 0; }
  .price .price__butn {
    bottom: 30px; }
  .price .price__butn .butn {
    min-width: 153px; }
  .got-questions__butn .butn {
    min-width: 234px; }
  .form-wrap {
    padding: 40px 30px;
    max-width: 520px; }
  .form-wrap__title {
    margin: 0 auto 25px; }
  .form-wrap__title {
    font-size: 20px; }
  .form-wrap__title b {
    font-size: 30px; }
  .input-row_butn {
    text-align: center; }
  .input-row_butn .butn_xl {
    min-width: 190px; }
  .form .input-row_butn {
    padding: 30px 0 0; }
  .footer__logo {
    text-align: center; }
  .footer__logo a {
    display: inline-block; }
  .footer__logo span {
    display: block;
    font-size: 10px; }
  .footer__logo img {
    max-width: 70px; }
  .footer__item-title {
    display: none; }
  .footer__socials {
    text-align: center; }
  .footer__socials a {
    display: inline-block;
    margin-bottom: 0; }
  .footer__socials a span {
    display: none; }
  .footer__item-title_show-on-mob {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    padding-top: 0;
    font-size: 12px;
    text-transform: uppercase; }
  .footer__nav {
    display: inline-block; }
  .footer__nav li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0; }
  .footer__nav li a {
    font-size: 12px; }
  .footer__nav_2col {
    display: block;
    text-align: center; }
  .footer__nav_2col li {
    width: auto;
    float: none; }
  .footer__item {
    padding: 15px;
    border-top: 1px solid #fff; }
  .footer__top {
    padding-bottom: 0; }
  .footer__top a[href*='tel'] {
    font-size: 18px; }
  .footer__top .row .footer__item:nth-child(2), .footer__top .row .footer__item:nth-child(3) {
    border-top: none; }
  .footer__top .row .footer__item:nth-child(4) {
    text-align: center; }
  .copyright a {
    font-size: 10px; }
  .footer__bottom {
    text-align: center; }
  .footer__bottom p {
    font-size: 10px; }
  .form input {
    font-weight: 400; }
  .slider-album {
    margin-bottom: 30px; }
  .slider-album-nav {
    display: none; } }

@media (max-width: 641px) {
  .banner .logo {
    max-width: 85px; }
  .banner__title h1 {
    font-size: 40px; }
  .banner__title h1 span {
    font-size: 30px; }
  .banner__subtitle {
    font-size: 30px; }
  .banner__subtitle b {
    font-size: 60px; }
  .price {
    display: block;
    margin: 0 auto 30px !important; }
  .gallery {
    display: block; }
  .gallery-caption {
    width: auto;
    height: auto; }
  .gallery-caption img {
    display: none; }
  .gallery-caption .gallery-caption__title {
    position: static;
    background: transparent; }
  .gallery-caption .gallery-caption__title span {
    position: static;
    color: #4f3e70;
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 16px 0; } }

@media (max-width: 520px) {
  .banner__title h1 {
    font-size: 24px; }
  .banner__title h1 span {
    font-size: 16px; }
  .banner__subtitle {
    font-size: 16px; }
  .banner__subtitle b {
    font-size: 48px; }
  .how-it-wroks .row [class*='col-']:nth-child(7) {
    margin-left: 0; }
  .how-it-wroks .row [class*='col-'] {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%; }
  .how {
    margin-bottom: 30px; }
  .section {
    padding: 35px 0; }
  .section__title {
    margin-bottom: 20px; }
  .section__title h2 {
    font-size: 22px; }
  .promo__undertitle {
    font-size: 22px; }
  .promo__subtitle {
    margin-bottom: 17px; }
  .promo__subtitle p {
    font-size: 14px;
    margin-bottom: 0; }
  .promo__list {
    font-size: 18px; }
  .promo__list li {
    display: block;
    padding-bottom: 23px;
    padding-left: 0;
    margin-bottom: 15px; }
  .promo__list li:before {
    top: initial;
    left: 50%;
    margin-left: -7px;
    bottom: 0; }
  .promo__list li:last-child {
    padding-right: 0;
    margin-bottom: 0; }
  .promo__list li:last-child:after, .promo__list li:last-child:before {
    display: none; }
  .slider,
  .slider-fluid {
    padding: 0; }
  .slider .slick-arrow,
  .slider-fluid .slick-arrow {
    width: 44px; }
  .slider-wrap {
    margin: 0 -15px 25px; }
  .slider__title {
    font-size: 22px; }
  .slider__item {
    padding: 0; }
  .redirect p {
    font-size: 18px; }
  .price__title {
    font-size: 22px; }
  .price__value {
    font-size: 22px; }
  .price__value span {
    font-size: 36px; }
  .price__details {
    font-size: 14px;
    padding: 10px;
    min-height: initial; }
  .section__title span {
    font-size: 16px; }
  .got-questions__img img {
    max-width: 86px; }
  .testemonial__img {
    width: 95px;
    height: 95px;
    -webkit-box-shadow: -19px -13px 0 0 #4f3e70;
            box-shadow: -19px -13px 0 0 #4f3e70; }
  .testemonials-slider .slick-arrow {
    height: 124px; }
  .testemonial__title {
    font-size: 16px;
    padding: 0 13px;
    margin-bottom: 13px; }
  .testemonial__title:after,
  .testemonial__title:before {
    width: 18px; }
  .testemonial__text p {
    font-size: 14px; }
  .testemonials-slider .slick-arrow-left {
    -webkit-transform: translateX(-90px);
        -ms-transform: translateX(-90px);
            transform: translateX(-90px); }
  .testemonials-slider .slick-arrow-right {
    -webkit-transform: translateX(130px);
        -ms-transform: translateX(130px);
            transform: translateX(130px); }
  .form-wrap {
    padding: 30px 10px; }
  .form .input-row {
    padding: 0; }
  .form .input-row_butn {
    padding: 25px 0 0; }
  .form-wrap__title {
    font-size: 14px; }
  .form-wrap__title b {
    font-size: 18px; }
  .form-wrap__title {
    margin: 0 auto 13px; }
  .close-modal {
    top: 15px;
    right: 15px; }
  .slider-album {
    margin: 0 -15px 30px; }
  .album-description__title {
    font-size: 16px;
    margin-bottom: 5px; }
  .album-description__title:before {
    width: 45px;
    height: 1px; }
  .album-description__subtitle {
    margin-bottom: 25px; }
  .album-description ol > li span {
    padding-top: 5px; }
  .album-description ol ul {
    margin-bottom: 5px; }
  .album-description ol p {
    margin-bottom: 5px; }
  .album-description {
    margin-bottom: 20px; }
  .album-details {
    margin-bottom: 30px; }
  .album-details li {
    font-size: 12px;
    margin-bottom: 5px; }
  .album-details li span {
    font-size: 12px; }
  .album-price {
    font-size: 14px; }
  .album-price span {
    font-size: 22px; }
  .album-order .butn {
    padding: 6px;
    text-transform: none;
    font-size: 12px; }
  .go-to-butn-holder {
    padding-top: 40px; }
  .gallery {
    margin: 0; }
  .gallerys-wrap {
    margin: 0 -15px; }
  .gallery-caption__title span {
    padding-left: 15px; } }
