main
	section.section.banner.banner_inner.banner_bg-gallery
		.container
			.logo
				img(src="img/logo-sahar-color.png", alt="logo-sahar")
			.banner__title.banner__title_inner
				h1 Галерея 
	section.section
		.container
			.section__title
				h2 Места для фотосессий
			.gallerys-wrap
				.gallerys
					a.gallery-caption(href="img/img-places6.png" data-caption="В школе" data-fancybox="gallery-1")
						img(src="img/img-places6.png" alt="")
						.gallery-caption__title
							span В школе
					.gallery
						.gallery__item
							a(href="img/img-places6.png" data-caption="В школе" data-fancybox="gallery-1")
								img(src="img/img-places6.png" alt="")
						.gallery__item
							a(href="img/img-places6.png"  data-caption="В школе" data-fancybox="gallery-1")
								img(src="img/img-places6.png" alt="")
						.gallery__item
							a(href="img/img-places6.png" data-caption="В школе" data-fancybox="gallery-1")
								img(src="img/img-places6.png" alt="")
					a.gallery-caption(href="img/img-places1.png"  data-caption="ВДНХ" data-fancybox="gallery-2")
						img(src="img/img-places1.png" alt="")
						.gallery-caption__title
							span ВДНХ
					.gallery
						.gallery__item
							a(href="img/img-places1.png"  data-caption="ВДНХ" data-fancybox="gallery-2")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png" data-caption="ВДНХ"  data-fancybox="gallery-2")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png"  data-caption="ВДНХ" data-fancybox="gallery-2")
								img(src="img/img-places1.png" alt="")
					a.gallery-caption(href="img/img-places2.png"  data-caption="Ботанический сад им. Гришка" data-fancybox="gallery-3")
						img(src="img/img-places2.png" alt="")
						.gallery-caption__title
							span Ботанический сад им. Гришка
					.gallery
						.gallery__item
							a(href="img/img-places2.png"  data-caption="Ботанический сад им. Гришка" data-fancybox="gallery-3")
								img(src="img/img-places2.png" alt="")
						.gallery__item
							a(href="img/img-places2.png" data-caption="Ботанический сад им. Гришка"  data-fancybox="gallery-3")
								img(src="img/img-places2.png" alt="")
						.gallery__item
							a(href="img/img-places2.png"  data-caption="Ботанический сад им. Гришка" data-fancybox="gallery-3")
								img(src="img/img-places2.png" alt="")
					a.gallery-caption(href="img/img-places4.png"  data-caption="Воздвиженка" data-fancybox="gallery-4")
						img(src="img/img-places4.png" alt="")
						.gallery-caption__title
							span Воздвиженка
					.gallery
						.gallery__item
							a(href="img/img-places4.png"  data-caption="Воздвиженка" data-fancybox="gallery-4")
								img(src="img/img-places4.png" alt="")
						.gallery__item
							a(href="img/img-places4.png" data-caption="Воздвиженка"  data-fancybox="gallery-4")
								img(src="img/img-places4.png" alt="")
						.gallery__item
							a(href="img/img-places4.png"  data-caption="Воздвиженка" data-fancybox="gallery-4")
								img(src="img/img-places4.png" alt="")
					a.gallery-caption(href="img/img-places5.png"  data-caption="Парк Победы, Дарница" data-fancybox="gallery-5")
						img(src="img/img-places5.png" alt="")
						.gallery-caption__title
							span Парк Победы, Дарница
					.gallery
						.gallery__item
							a(href="img/img-places5.png"  data-caption="Парк Победы, Дарница" data-fancybox="gallery-5")
								img(src="img/img-places5.png" alt="")
						.gallery__item
							a(href="img/img-places5.png" data-caption="Парк Победы, Дарница"  data-fancybox="gallery-5")
								img(src="img/img-places5.png" alt="")
						.gallery__item
							a(href="img/img-places5.png"  data-caption="Парк Победы, Дарница" data-fancybox="gallery-5")
								img(src="img/img-places5.png" alt="")
					a.gallery-caption(href="img/img-places1.png"  data-caption="Феофания" data-fancybox="gallery-9")
						img(src="img/img-places1.png" alt="")
						.gallery-caption__title
							span Феофания
					.gallery
						.gallery__item
							a(href="img/img-places1.png"  data-caption="Феофания" data-fancybox="gallery-9")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png" data-caption="Феофания"  data-fancybox="gallery-9")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png"  data-caption="Феофания" data-fancybox="gallery-9")
								img(src="img/img-places1.png" alt="")
					a.gallery-caption(href="img/img-places1.png"  data-caption="Почтовая площадь" data-fancybox="gallery-10")
						img(src="img/img-places1.png" alt="")
						.gallery-caption__title
							span Почтовая площадь
					.gallery
						.gallery__item
							a(href="img/img-places1.png"  data-caption="Почтовая площадь" data-fancybox="gallery-10")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png" data-caption="Почтовая площадь"  data-fancybox="gallery-10")
								img(src="img/img-places1.png" alt="")
						.gallery__item
							a(href="img/img-places1.png"  data-caption="Почтовая площадь" data-fancybox="gallery-10")
								img(src="img/img-places1.png" alt="")
							
				
			.go-to-butn-holder
				a.butn.butn_white.butn_xl.butn_more(href='/')	 Вернуться на главную	
