main
	section.section.banner.banner_inner.banner_bg-album
		.container
			.logo
				img(src="img/logo-sahar-color.png", alt="logo-sahar")
			.banner__title.banner__title_inner
				h1 Серия 
					b.color-gold “Premium”
	section.section
		.container
			.section__title
				h2 Выпускной альбом 
					b Esquire
			.row
				.col-lg-7
					.slider-album
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
						.slider-album__item
							a.slider-album__item-img(href="img/img-slide-album.png" data-fancybox="gallery5")
								img(src="img/img-slide-album.png" alt="")
					.slider-album-nav
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
						.slider-album-nav__item
							.slider-album-nav__img-wrap
								img(src="img/img-slide-album.png" alt="")
					
						
				.col-lg-5.album-description-wrap
					.album-description
						.album-description__title  Неизменный хит студии “Сахар” уже несколько сезонов. 
						.album-description__subtitle.
							По 1 развороту для каждого: портретная фотография
							в стиле журнала Esquire (крупный план, средний или полный рост)
							+ анкета с пожеланиями и личными фото.
						.album-description__title В стоимость входит:
						ol
							li Портретная фотосъемка всех учеников, которые заказывают альбом
							li Ретушь всех портретов, которые попадают в альбом
							li Групповая фотосессия всех учеников. 
								span На выбор:
								ul
									li уличная (дневная) 
									li уличная (ночная)
									li в учебном заведении
									li в фотостудии*
								p *компенсация стоимости аренды выбранной фотостудии, из предложенных локаций, оплачивается отдельно
							li Ретушь всех групповых снимков, которые попадают в альбом
							li Выбор портретной фотографии для альбома в личном кабинете
							li Анкета для каждого
							li Голосование за групповые фотографии он-лайн, в личном кабинете
							li Верстка альбомов согласно выбранному дизайну
							li Печать выпускных альбомов
							li Доставка готового заказа 
					.album-description__title Характеристики:
					ul.album-details
						li Кол-во 
							span фотосессий: 2
						li Размер: 
							span 20х30 см
						li Кол-во страниц:
							span 70
						li Обложка:
							span твердая, ламинированная
						li Качество печати:
							span полиграфическая
					.album-order.clearfix
						.album-price Цена: <span> 9999 </span>  грн
						a.butn.butn_violet(href="#") Заказать альбом
			.go-to-butn-holder
				a.butn.butn_white.butn_xl.butn_more(href='/')	 Вернуться на главную	
