main
	section.section.banner
		.container
			.logo
				img(src="img/logo-sahar-color.png", alt="logo-sahar")
			.banner__title
				h1 Стильные выпускные альбомы
					span для школьников и студентов
			.banner__subtitle от 
				b  370
				|  грн
	section.section.how-it-wroks
		.container
			.section__title
				h2 Как это работает?
			.row
				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_1
						.how__text
							b Выбираете на сайте дизайн  альбома, который нравится именно Вам
							|  10 вариантов готовых дизайнов или индивидуальная разработка
				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_2
						.how__text
							b Отправляете заявку на просчет стоимости согласно Вашим параметрам
							| Кол-во людей, кол-во стр, кол-во фотосессий и тд
				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_3
						.how__text
							b Встречаемся и заключаем договор с представителем класса/группы 
							|  Вносим в договор все данные о вашем заказе и начинаем работу! Предоплата 50%

				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_4
						.how__text
							b Заводим личный кабинет для каждого
							| В личном кабинете каждый выберет портрет в свой   выпускной альбом и будет проводится общее голосование за групповые фотографии. Это легко и удобно.
				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_5
						.how__text
							b Проводим фотосессии и выбираем фотографии в альбом
							|Групповая или портретная фотосъемка, в школе или в студии, днем или ночью, с земли или с воздуха . Фото с наивысшим рейтингом гарантированно попадут в альбом. Оплата 50%

				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_6
						.how__text
							b Верстка вашего выпускного альбома и внимательная проверка 
							| До 10 рабочих дней дизайнер верстает альбом,согласно вашей спецификации. Проверка  орфографии и ФИО учеников и учителей занимает еще до 5 дней.
				.col-xs-6.col-md-4.col-lg-3
					.how
						.how__icon.how__icon_7
						.how__text
							b Печать альбомов и выдача дополнительных заказов
							| От 10 до 20 дней, в зависимости от сезонной загрузки.
	section.section.promo
		.container
			.promo__undertitle День рождения? Новый год? 8 марта?
			.promo__title
				img(src="img/img-promo.png", alt="")
			.promo__subtitle
				p У нас есть отличный вариант подарка!
				p В личном кабинете можно сделать дополнительный заказ:
			ul.promo__list
				li печать фото
				li кружки
				li фотокартины
				li и многое другое.
	section.section.albums
		.container
			.section__title.section__title_white
				h2 Варианты альбомов
			.slider-wrap
				.slider__title Серия “Mini”
				.slider
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery2")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery2")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery2")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery2")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
		.container.container_fluid-desc
			.row.slider-wrap.slider-wrap_fluid
				.slider__title Серия “Basic”
				.slider-fluid
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
		
		.container
			#slider-fluid__dotts
			.slider-wrap
				.slider__title Серия 
					span.color-gold  “Premium”
				.slider
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery3")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery3")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery3")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
					.slider__item
						a.slider__item-img(href="img/img-slider-big1.jpg" data-fancybox="gallery2")
							img(src="img/img-slider1.png" alt="")
							.slider__item-title Виньетка вертикальная
	section.section.redirect
		.container
			.row
				.col-md-8
					p Детские альбомы для выпускников садиков и младшей школы.
				.col-md-4.redirect__butn-holder
					a.butn.butn_xl.butn_yellow(href='#') Подробнее
	section.section.why-we
		.container
			.section__title
				h2 Почему стоит нам доверять?
			.row
				.col-md-6
					.why
						.why__icon-wrap
							.why__icon.why__icon_1
						.why__title Знаем, что делаем 
						.why__text Опыт работы 
							b 11 лет
				.col-md-6
					.why.why_right
						.why__icon-wrap
							.why__icon.why__icon_2
						.why__title При этом мы не нафталин
						.why__text Наши альбомы идут в ногу со временем
				.col-md-6
					.why
						.why__icon-wrap
							.why__icon.why__icon_3
						.why__title Работаем с душой
						.why__text C нами комфортно и детям и родителям
				.col-md-6
					.why.why_right
						.why__icon-wrap
							.why__icon.why__icon_4
						.why__title Идеальное соотношение Качество-Цена
						.why__text Именно в таком порядке
							b 11 лет
				.col-md-6
					.why
						.why__icon-wrap
							.why__icon.why__icon_5
						.why__title Команда-наша гордость
						.why__text Все сотрудники студии прошли обучение и работают согласно инструкций и стандартов компании.
				.col-md-6
					.why.why_right
						.why__icon-wrap
							.why__icon.why__icon_6
						.why__title Он-лайн -это удобно!
						.why__text Мы ценим свое и ваше время. Большинство вопросов решается в личном кабинете клиента
	section.section.places
		.container
			.section__title
				h2 Места для фотосессий 
				span Получите удовольствие от работы с профессионалами
			.masonry
				.masonry__item_sizer
				.masonry__item.masonry__item_xl
					a(href="img/img-places1.png" data-fancybox="gallery1")
						img(src="img/img-places1.png", alt="")
				.masonry__item
					a(href="img/img-places2.png" data-fancybox="gallery1")
						img(src="img/img-places2.png", alt="")
				.masonry__item
					a(href="img/img-places3.png" data-fancybox="gallery1")
						img(src="img/img-places3.png", alt="")
				.masonry__item
					a(href="img/img-places4.png" data-fancybox="gallery1")
						img(src="img/img-places4.png", alt="")
				.masonry__item
					a(href="img/img-places7.png" data-fancybox="gallery1")
						img(src="img/img-places7.png", alt="")
				.masonry__item
					a(href="img/img-places5.png" data-fancybox="gallery1")
						img(src="img/img-places5.png", alt="")
				
				.masonry__item.masonry__item_xl
					a(href="img/img-places6.png" data-fancybox="gallery1")
						img(src="img/img-places6.png", alt="")
				.masonry__item
					a(href="img/img-places1.png" data-fancybox="gallery1")
						img(src="img/img-places8.png", alt="")
			.places__butn-wrap
				a.butn.butn_xl.butn_white.butn_more(href="#") Просмотреть все варианты
	section.section.prices
		.container
			.section__title.section__title_white
				h2 Кратко о ценах
				span Подробнее в описании каждого альбома
			.prices-wrap
				.price
					.price__title Серия “Mini”
					.price__value от 
						span 370
						|   грн
					.price__details Форматы: 20х30, 30х20
					.price__details Кол-во страниц: 2-4
					.price__butn
						a.butn.butn_violet(href="#") Подробнее
				.price
					.price__title Серия “Basic”
					.price__value от 
						span 600
						|   грн
					.price__details Форматы: 20х30, 30х20,23х23
					.price__details Кол-во страниц: 12-30
					.price__butn
						a.butn.butn_violet(href="#") Подробнее
				.price
					.price__title Серия “Premium”
					.price__value от 
						span 1120
						|   грн
					.price__details Форматы: 20х30, 30х20
					.price__details Кол-во страниц: 40-70
					.price__butn
						a.butn.butn_violet(href="#") Подробнее
	section.section.got-questions
		.container
			.section__title
				h2 Остались вопросы?
			.got-questions__img
				img(src="img/img-got-questions.png", alt="")
			.got-questions__butn
				a.butn.butn_xl.butn_yellow(href='#') Вопросы и ответы
	section.section.testemonials
		.container
			.section__title
				h2 Отзывы
				span Узнайте, что говорят о нас наши клиенты
			.testemonials-slider
				.testemonials-slider__item
					.testemonial
						.testemonial__img
							img(src="img/img-testemonials1.png", alt="")
						.testemonial__title Леся Канюка
						.testemonial__text
							p Огромное спасибо всей команде арт-студии <b>"Сахар</b>" ! С Вами было очень легко работать. Все технические и организационные моменты продуманы до мелочей - от выбора локаций для съемки до получения готового альбома. У меня были довольно высокие требования к окончательному результату и вы с ним справились. Все было сделано на очень высоком профессиональном уровне. И вот вчера я раздала детям альбомы и они были безумно довольны. Искренние улыбки, блеск в глазах , очень 	много слов благодарности - это то, ради чего стоит жить и работать. Я желаю Вашей команде успехов и процветания и побольше благодарных клиентов. У Вас очень хорошая ниша на рынке и Ваши услуги будут всегда востребованы.
							p P.S.: И , пожалуйста, никуда не исчезайте, у меня через 5 лет еще один выпуск
				.testemonials-slider__item
					.testemonial
						.testemonial__img
							img(src="img/img-testemonials1.png", alt="")
						.testemonial__title Леся Канюка
						.testemonial__text
							p Огромное спасибо всей команде арт-студии "Сахар" ! С Вами было очень легко работать. Все технические и организационные моменты продуманы до мелочей - от выбора локаций для съемки до получения готового альбома. У меня были довольно высокие требования к окончательному результату и вы с ним справились. Все было сделано на очень высоком профессиональном уровне. И вот вчера я раздала детям альбомы и они были безумно довольны. Искренние улыбки, блеск в глазах , очень 	много слов благодарности - это то, ради чего стоит жить и работать. Я желаю Вашей команде успехов и процветания и побольше благодарных клиентов. У Вас очень хорошая ниша на рынке и Ваши услуги будут всегда востребованы.
							p P.S.: И , пожалуйста, никуда не исчезайте, у меня через 5 лет еще один выпуск
	
