
footer
	section.section.contacts
		.container
			.section__title.section__title_white
				h2 Закажите просчет выпускного альбома для своего класса
			.form-wrap
				.form-wrap__title 
					b Заполните форму
					span и наши менеджеры свяжутся с Вами в ближайшее время
				
				form#contact-form.form(method="POST" onsubmit='return false')
					.input-row
						input(type="text" name='name' placeholder="Ваше Имя" maxlength="35")
					.input-row
						input(type="tel" name='phone' placeholder="Номер телефона")
					.input-row
						input(type="text" name='Учебное заведение' placeholder="Учебное заведение" maxlength="35")
					.input-row.input-row_butn
						button.butn.butn_xl.butn_white(type="submit") Отправить заявку
				
	.footer__top
		.container
			.row
				.col-xs-12.col-md-2
					.footer__logo
						a(href="#")
							img(src="img/logo-sahar-white.png", alt="logo-sahar")
						span Студия “Сахар”
				.col-xs-8.col-md-3.col-md-push-7.footer__item
					.footer__item-title Телефоны:
					a(href='tel:+380969829622') +38 (096) 982-96-22
				.col-xs-4.col-md-2.footer__item
					.footer__item-title Мы в соцсетях:
					.footer__socials
						a(href="#" target='_blank')
							i.icon-instagram
							span Instagram
						a(href="#" target='_blank')
							i.icon-facebook
							span Facebook
				.col-xs-12.col-md-2.footer__item
					.footer__item-title.footer__item-title_show-on-mob Альбомы:
					ul.footer__nav
						li 
							a(href="#") Для детских садов
						li 
							a(href="#") Для школы
						li 
							a(href="#") Для студентов
					
				.col-xs-12.col-md-3.col-md-pull-7.footer__item
					.footer__item-title Карта сайта:
					ul.footer__nav.footer__nav_2col
						li
							a(href="#") Главная
						li
							a(href="#") Почему мы
						li
							a(href="#") Галерея
						li
							a(href="#") Вопросы и ответы
						li
							a(href="#") Альбомы 
						li
							a(href="#") Контакты
	.footer__bottom
		.container
			.row
				.col-xs-12.col-sm-4.col-sm-push-4.copyright
					a(href='#mymodal' data-toggle='modal') Политика конфиденциальности
				.col-xs-12.col-sm-4.col-sm-push-4
					p При любом копировании материалов ссылка на сайт-источник обязательна.
				.col-xs-12.col-sm-4.col-sm-pull-8
					p &copy; 2017  Студия «Сахар». Все права защищены. Выпускные альбомы на заказ
.modal-tomb
	#request.modal.my-modal.fade.popup(role='dialog')
		.modal-dialog
			.modal-content.form-wrap
				.close-modal(role='button', data-dismiss='modal') ЗАКРЫТЬ
			
				.form-wrap__title 
					b Заполните форму
					span и наши менеджеры свяжутся с Вами в ближайшее время
				
				form#request-form.form(method="POST" onsubmit='return false')
					.input-row
						input(type="text" name='name' placeholder="Ваше Имя" maxlength="35")
					.input-row
						input(type="tel" name='phone' placeholder="Номер телефона")
					.input-row.input-row_butn
						button.butn.butn_xl.butn_white(type="submit" data-rel='enter-form') Отправить заявку
	#profile.modal.my-modal.fade.popup(role='dialog')
		.modal-dialog
			.modal-content.form-wrap
				.close-modal(role='button', data-dismiss='modal') ЗАКРЫТЬ
				.form-wrap__title 
					b Войти в личный </br> кабинет
				form#enter-form.form(method="POST" onsubmit='return false')
					.input-row
						input(type="text" name='name' placeholder="Логин" maxlength="35")
					.input-row
						input(type="password" name='password' placeholder="Пароль" maxlength="20")
						a.foggot(href="#") Забыли свой пароль?
					.input-row.input-row_butn
						button.butn.butn_xl.butn_white(type="submit" data-rel='request-form') Отправить
	#tnx.modal.my-modal.fade.popup(role='dialog')
		.modal-dialog
			.modal-content.form-wrap
				.close-modal(role='button', data-dismiss='modal') ЗАКРЫТЬ
			
				.form-wrap__title 
					b Спасибо!
					span наши менеджеры свяжутся с Вами в ближайшее время
				.input-row.input-row_butn
					button.butn.butn_xl.butn_white(type="button" data-dismiss='modal') ЗАКРЫТЬ
