header
	.container.clearfix
		a(href="tel:+380969829622") + 38 (096) 
			b 982-96-22
		a.butn.butn_call(href="#request" data-toggle='modal') Заказать звонок
		#hamburger(role='button')
			span
			span
			span
			span
		ul#nav
			li.current
				a(href="/") Главная
			li
				a(href="gallery.html") Галерея
			li
				a(href="album.html") Альбомы 
			li
				a(href="#") Вопросы и ответы
			li
				.header__socials
					a(href="#" target='_blank')
						i.icon-instagram
					a(href="#" target='_blank')
						i.icon-facebook
				a.cabinet(href="#profile" data-toggle='modal') Личный кабинет
