doctype html
html(lang='ru')
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		include ./components/_content_gallery.jade
		include ./components/_footer.jade
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
	
		script(src="vendor/js/masonry.js")
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/slick.js")
		script(src="vendor/js/jquery.mask.min.js")
		
		script(src="js/main.js")
		//- endinject
