/*--== buttons ==--*/
.butn {
    display: inline-block;
    min-width: 250px;
    border-radius: 22px;
    background-color: #fff;
    padding: 13px 15px 12px;
    border: 2px solid #fff;
    color: $violet-dark;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    position: relative;
    @include trans;

    &:hover {
        color: #ffffff;
        border-color: $violet-dark;
        background: $violet-dark;
        text-decoration: none;
    }

    &:focus {
        border-color: #4f3e70;
    }

    &_call {
        text-transform: uppercase;
        padding-left: 50px;

        &:before {
            @include pseudo;
            left: 30px;
            width: 15px;
            height: 14px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%234f3e70%22%20d%3D%22M11.24%209.27l.26-.76%204.5%201.6-.23.76zm4.27%202.55l-.27.79s-.85%202.92-2.92%202.31l-1.5-.74S5%2011.2%201.7%205.78l-.64-1.29c-.6-2.07%202.67-2.57%202.67-2.57l.42-.18%202.27%203.89-.7.27a.4.4%200%200%201-.13.04c.01%200%20.03.02.04.08.1%201.22%201.39%202.88%201.68%203.25%201.32%201.07%203.28%201.58%203.28%201.58.1.03.13.13.2-.12.04-.07.14-.55.14-.55zM7.29%205.25l.67-.22L5.8%201l-.75.32z%22%2F%3E%3C%2Fsvg%3E');
            @include trans;
        }

        &:hover {
            &:before {
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.24%209.27l.26-.76%204.5%201.6-.23.76zm4.27%202.55l-.27.79s-.85%202.92-2.92%202.31l-1.5-.74S5%2011.2%201.7%205.78l-.64-1.29c-.6-2.07%202.67-2.57%202.67-2.57l.42-.18%202.27%203.89-.7.27a.4.4%200%200%201-.13.04c.01%200%20.03.02.04.08.1%201.22%201.39%202.88%201.68%203.25%201.32%201.07%203.28%201.58%203.28%201.58.1.03.13.13.2-.12.04-.07.14-.55.14-.55zM7.29%205.25l.67-.22L5.8%201l-.75.32z%22%2F%3E%3C%2Fsvg%3E');
            }
        }
    }

    &_yellow {
        color: $violet;
        background-color: #f2a809;
        border-color: #f2a809;

        &:hover {
            background-color: $violet;
            border-color: $violet;
            color: #fff;

            &:focus {
                color: #fff;
            }
        }

        &:focus {
            border-color: $violet;
            color: $violet;
        }
    }

    &_xl {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        border-radius: 70px;
        min-width: 490px;
    }

    &_white {
        color: $violet;
        border-color: $violet;
        background: #fff;
        &:hover{
            background: $violet;
            color:#fff;
            border-color: $violet;
            &:focus{
                color:#fff;
            }
        }
        &:focus{
            background-color: #e7d6f5;
            border-color: $violet;
        }
    }

    &_violet {
        background: $violet;
        color:#fff;
        border-color: $violet;
        &:hover{
            background-color:$violet-dark;
            color: #fff;
            border-color: $violet-dark;
        }
        &:focus{
            background-color: #e7d6f5;
            color: $violet-dark;

        }

    }

    &_more {
        padding-right: 90px;
        position: relative;

        &:after,
        &:before {
            @include pseudo;
            display: block;
            right: 37px;
            @include trans;
        }

        &:before {
            height: 13px;
            width: 13px;
            top: 50%;
            margin-top: -6px;
            border-top: 2px solid #894dbe;
            border-right: 2px solid #894dbe;
            transform: rotate(45deg);
        }

        &:after {
            top: 50%;
            height: 2px;
            width: 41px;
            background-color: #894dbe;
        }

        &:hover {
            &:before {
                border-color: #fff;
            }

            &:after {
                background: #fff;
            }
        }
    }
}
/*--== end buttons ==--*/
