main {
    overflow-x: hidden;
}

.section {
    padding: 100px 0;
}

.banner {
    background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover;
    min-height: 857px;
    padding-top: 169px;

    .logo {
        width: 173px;
        margin: 0 auto 30px;
    }

    &__title {
        position: relative;
        padding-bottom: 14px;
        margin-bottom: 30px;

        &:before {
            @include pseudo;
            bottom: 0;
            left: 50%;
            width: 30%;
            transform: translateX(-50%);
            height: 3px;
            background-color: #ffffff;
        }

        h1 {
            text-align: center;
            color: #fefefe;
            font-family: 'code_pro';
            font-size: 60px;
            font-weight: 700;
            line-height: 1.3;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 44px;
                font-weight: 400;
            }
        }

        &_inner {
            &:before {
                display: none;
            }
        }
    }

    &__subtitle {
        color: #fefefe;
        font-family: 'code_pro';
        font-size: 44px;
        line-height: 1;
        text-align: center;

        b {
            font-size: 91px;
        }
    }
}

.logo {
    img {
        max-width: 100%;
    }
}

.how-it-wroks {
    padding: 130px 0 0;

    .row {
        margin-right: -50px;
        margin-left: -50px;
        counter-reset: how;

        [class*='col-'] {
            padding: 0 50px;

            &:nth-child(5) {
                margin-left: 12.5%;
            }
        }
    }
}

.section__title {
    max-width: 1000px;
    position: relative;
    padding-bottom: 24px;
    margin: 0 auto 60px;

    &:before {
        @include pseudo;
        width: 178px;
        height: 5px;
        border-radius: 2px;
        background-color: #8b4ba9;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    h2 {
        color: #4f3e70;
        font-family: "Open Sans";
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }

    &_white {
        h2,
        span {
            color: #fff!important;
        }

        &:before {
            background: #fff;
        }
    }
}

.how {
    margin-bottom: 110px;
    counter-increment: how;
    position: relative;
    padding-top: 90px;
    cursor: default;

    &:hover {
        animation: moveTop 0.3s;
    }

    &:before {
        content: counter(how);
        position: absolute;
        top: 44px;
        left: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #894dbe;
        color: #eab3cd;
        font-size: 24px;
        font-weight: 700;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 49px;
    }

    &__text {
        color: #271420;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        b {
            display: block;
            margin-bottom: 4px;
        }
    }

    &:hover {
        .how__icon {
            animation: moveTop 0.5s;
        }
    }
}

.promo {
    background: url("../img/bg-promo.png") no-repeat center;
    background-size: cover;
    position: relative;

    &__title {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    &__undertitle {
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 45px;
    }

    &__subtitle {
        text-align: center;

        p {
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__list {
        text-align: center;
        list-style: none;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);
        color: #f2a809;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        text-transform: uppercase;

        li {
            display: inline-block;
            position: relative;
            padding: 0 14px 0 30px;

            &:last-child {
                padding-right: 30px;

                &:after {
                    @include pseudo;
                    height: 13px;
                    width: 13px;
                    background-color: #f2a809;
                    right: 0;
                    top: 9px;
                    transform: rotate(45deg);
                }
            }

            &:before {
                @include pseudo;
                height: 13px;
                width: 13px;
                background-color: #f2a809;
                left: 0;
                top: 9px;
                transform: rotate(45deg);
            }
        }
    }
}

.albums {
    background-color: #8e509f;
    background-image: linear-gradient(to top, rgba(#d66579,.95) 0%, rgba(#4f3e70,.95) 80%, rgba(#4f3e70, .95) 100%), url("../img/bg-albums.png");
}

.slider-wrap {
    text-align: center;
    margin-bottom: 90px;

    &_fluid {
        margin-bottom: 62px;
    }
}

.slider__title {
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    position: relative;
    padding: 0 63px;
    margin-bottom: 50px;

    &:after,
    &:before {
        @include pseudo;
        top: 50%;
        width: 50px;
        height: 1px;
        background-color: #ffffff;
    }

    &:after {
        right: 0;
    }

    &:before {
        left: 0;
    }
}

.slider {
    margin: 0 -5px;
}

.slider__item {
    padding: 0 5px;
}

.slider__item-img {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;

    img {
        max-width: 100%;
        // max-height: 374px;
    }
}

.slider__item-title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100%;
    border-radius: 0 0 3px 3px;
    background: rgba(#000, .5);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
    padding: 25px 66px 25px 20px;
    @include trans;

    &:before {
        @include pseudo;
        background-image: url("../img/sprite.png");
        background-position: -256px -123px;
        width: 56px;
        height: 56px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slider__item-img:hover {
    .slider__item-title {
        bottom: 0;
    }
}

#slider-fluid__dotts {
    margin-bottom: 130px;

    .slick-dots {
        list-style: none;
        display: table;
        width: 100%;
        height: 8px;
        padding: 2px;
        border-radius: 4px;
        background-color: rgba(217, 217, 217, 0.21);

        li {
            display: table-cell;
            height: 4px;
            border-radius: 2px;
            background-color: transparent;
            @include trans;

            button {
                display: none;
            }

            &.slick-active {
                background: #fff;
            }
        }
    }
}

.color-gold {
    color: #f2a809;
}

.redirect {
    background-color: #775ac8;
    background: linear-gradient(7deg, rgba(#775ac8, .8) 0%, rgba(#aa5edb, .8) 100%), url("../img/bg-redirect.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 52px 0;

    p {
        max-width: 684px;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
    }

    .butn {
        width: 390px;
        max-width: 100%;
        min-width: initial;
        margin-top: 10px;

        &:hover {
            background: #fff;
            color: $violet;
        }
    }
}

.redirect__butn-holder {
    text-align: left;
}

.masonry {
    margin: 0 -5px;
}

.masonry__item_sizer {
    width: 20%;
}

.masonry__item {
    width: 20%;
    padding: 0 5px;
    margin-bottom: 10px;

    img {
        width: 100%;
    }

    &_xl {
        width: 40%;
    }
}

.why-we {
    background: #e4e4e1 url("../img/bg-why-we.png") no-repeat center;

    .row {
        counter-reset: why;

        [class*='col-'] {
            &:nth-child(odd) {
                clear: left;
            }

            &:nth-child(1),
            &:nth-child(2) {
                .why__text {
                    &:after {
                        width: calc(50% + 140px);
                    }
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                .why__text {
                    &:after {
                        width: calc(64% + 140px);
                    }
                }
            }

            &:nth-child(5),
            &:nth-child(6) {
                .why__text {
                    &:after {
                        width: calc(79% + 140px);
                    }
                }
            }
        }
    }
}

.why {
    padding-right: 197px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    counter-increment: why;
    min-height: 144px;

    &__icon-wrap {
        position: absolute;
        top: 0;
        right: 29px;
        width: 69px;
        height: 69px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), inset 0 0 6px rgba(65, 42, 125, 0.6);
        background-color: #4f3e70;
        border-radius: 50%;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__title {
        color: #271420;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        max-width: 410px;
        margin-left: auto;

        &:before {
            content: counter(why);
            position: absolute;
            top: 1px;
            right: -44px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #894dbe;
            color: #eab3cd;
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 20px;
        position: relative;
        max-width: 450px;
        margin-left: auto;

        &:before {
            @include pseudo;
            height: 9px;
            width: 9px;
            background-color: #4f3e70;
            right: -137px;
            bottom: 0;
            border-radius: 50%;
        }

        &:after {
            @include pseudo;
            height: 2px;
            background-color: #4f3e70;
            bottom: 3px;
            right: -134px;
        }
    }

    &:hover {
        .why__icon-wrap {
            animation: moveTop 0.3s;
        }
    }
}

.why_right {
    padding-left: 197px;
    padding-right: 0;
    text-align: left;

    .why__icon-wrap {
        position: absolute;
        top: 0;
        right: initial;
        left: 26px;
        width: 69px;
    }

    .why__title {
        margin-left: 0;
        margin-right: auto;

        &:before {
            right: initial;
            left: -44px;
        }
    }

    .why__text {
        margin-right: auto;
        margin-left: 0;

        &:before {
            right: initial;
            left: -137px;
        }

        &:after {
            right: initial;
            left: -134px;
        }
    }
}

.section__title {
    span {
        display: block;
        padding-top: 12px;
        color: #894dbe;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
}

.places__butn-wrap {
    text-align: center;
    padding-top: 60px;
}

.prices {
    background-color: #a2a2a2;
    background: url('../img/bg-prices.png'),linear-gradient(to top, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
    background-position: center;
    background-repeat: no-repeat;
}

.prices-wrap {
    text-align: center;
}

.price {
    display: inline-block;
    margin-right: 30px;
    width: 26%;
    min-width: 265px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #efefef;
    padding: 50px 0 180px;
    position: relative;
    -webkit-box-shadow: 0 28px 63px -20px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 28px 63px -20px rgba(0,0,0,0.7);
    box-shadow: 0 28px 63px -20px rgba(0,0,0,0.7);

    &:last-child {
        margin-right: 0;
    }

    &__title {
        padding: 15px 0 0;
        color: #271420;
        font-size: 36px;
        font-weight: 400;
        line-height: 1;
    }

    &__value {
        padding: 19px 5px 25px;
        color: #894dbe;
        font-weight: 700;
        line-height: 1;
        font-size: 36px;
        border-bottom: 1px solid #b1b1b1;

        span {
            font-size: 60px;
        }
    }

    &__details {
        min-height: 90px;
        padding: 33px 10px 10px;
        color: #271420;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        border-bottom: 1px solid #b1b1b1;
    }

    &__butn {
        position: absolute;
        bottom: 50px;
        right: 0;
        left: 0;
    }
}

.got-questions {
    background-color: #eb9db8;
    background-image: linear-gradient(to top, #edebf0 0%, #ffffff 100%);

    &__img {
        text-align: center;
        margin-bottom: 40px;

        img {
            max-width: 100%;
        }
    }

    &__butn {
        text-align: center;
    }
}

.testemonial {
    padding-top: 22px;
    text-align: center;

    &__img {
        display: block;
        margin: 0 auto 30px;
        width: 197px;
        height: 197px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background: #4f3e70;
        -webkit-box-shadow: -30px -20px 0 0 #4f3e70;
        -moz-box-shadow: -30px -20px 0 0 #4f3e70;
        box-shadow: -30px -20px 0 0 #4f3e70;

        img {
            max-width: 100%;
        }
    }

    &__title {
        display: inline-block;
        color: #271420;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        padding: 0 40px;
        margin-bottom: 35px;

        &:after,
        &:before {
            @include pseudo;
            top: 50%;
            height: 1px;
            width: 149px;
            background-color: #271420;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }

    &__text {
        color: #271420;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 1.4;
        font-weight: 400;

        p {
            margin-bottom: 25px;
        }
    }
}

.testemonials-slider {
    max-width: 1318px;
    margin: 0 auto;
    position: relative;

    .slick-arrow {
        position: absolute;
        height: 200px;
        width: 50px;
        top: 0;
        right: 50%;
        z-index: 990;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 19px;
            height: 35px;

            &:after,
            &:before {
                @include pseudo;
                background-color: #4f3e70;
                width: 25px;
                height: 3px;
                border-radius: 3px;
                @include trans;
            }
        }
    }

    .slick-arrow-right {
        transform: translateX(212px);

        span {
            &:before {
                transform: rotate(-45deg);
                top: 25px;
                left: -2px;
            }

            &:after {
                transform: rotate(45deg);
                top: 9px;
                left: -2px;
            }
        }

        &:hover {
            span {
                opacity: 0.4;

                &:before {
                    transform: rotate(135deg);
                }

                &:after {
                    transform: rotate(-135deg);
                }
            }
        }
    }

    .slick-arrow-left {
        transform: translateX(-162px);

        span {
            &:before {
                transform: rotate(45deg);
                top: 25px;
                left: -2px;
            }

            &:after {
                transform: rotate(-45deg);
                top: 9px;
                left: -2px;
            }
        }

        &:hover {
            span {
                opacity: 0.4;

                &:before {
                    transform: rotate(-135deg);
                }

                &:after {
                    transform: rotate(135deg);
                }
            }
        }
    }
}

.contacts {
    background-color: #ff2424;
    background: linear-gradient(153deg, rgba(#c44f9e,.9) 0%, rgba(#754fa6,.9)81%, rgba(#754fa6,.9)100%), url('../img/bg-contacts.png');
    background-position: center top;
    background-size: cover;
}
/*--== form style ==--*/

.form-wrap {
    max-width: 714px;
    margin: 0 auto 50px;
    padding: 70px 30px;
    box-shadow: 6px 10px 103px rgba(0, 0, 0, 0.72);
    border-radius: 3px;
    background-color: #4f3e70;
    background-image: linear-gradient(153deg, rgba(#754fa6,.8) 0%, rgba(#754fa6,.8) 19%, rgba(#c44f9e,.8) 100%);

    &__title {
        color: #ffffff;
        font-size: 24px;
        max-width: 480px;
        margin: 0 auto 44px;
        text-align: center;

        b {
            display: block;
            font-size: 36px;
        }
    }
}

.form {
    max-width: 480px;
    margin: 0 auto;

    .input-row {
        padding: 0 60px;
    }

    .input-row_butn {
        padding: 70px 0 0;
    }

    input {
        background: transparent;
        width: 100%;
        color: #ffffff;
        font-size: 21px;
        font-weight: 600;
        line-height: 1;
        padding: 18px 0 5px;
        vertical-align: bottom;
        margin-bottom: 5px;
        border-color: transparent;
        border-bottom: 1px solid #fff;
    }
}

fieldset {
    padding: 0;
    border: none;
    position: relative;
}

input + label,
textarea + label {
    position: absolute;
    top: 25px;
    left: 0;
    line-height: 1;
    z-index: 9;
    opacity: 0.41;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

input:focus + label,
label.stay,
textarea:focus + label {
    top: 0;
}

.slider,
.slider-album,
.slider-fluid, .gallery {
    position: relative;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
        z-index: 999;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 67px;
            transform: translate(-50%, -50%);
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .slick-arrow-right {
        right: 0;

        span {
            background: url("../img/arrow-right.png");
        }
    }

    .slick-arrow-left {
        left: 0;

        span {
            background: url("../img/arrow-left.png");
        }
    }
}
/*--== content album ==--*/

.banner_inner {
    min-height: 607px;
}

.banner_bg-album {
    background: url("../img/bg-album.png");
}

.section__title {
    b {
        font-weight: 900;
    }
}

.slider-album-nav__item {
    img {
        max-width: 100%;
    }
}

.album-description-wrap {
    padding-left: 85px;
}

.album-description {
    color: #271420;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;

    &__title {
        color: #4f3e70;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 20px;

        &:before {
            @include pseudo;
            width: 90px;
            height: 3px;
            border-radius: 1px;
            background-color: #894dbe;
            bottom: 0;
            left: 0;
        }
    }

    &__subtitle {
        font-weight: 700;
        margin-bottom: 50px;
    }

    ol,
    ul {
        list-style: none;
    }

    ol {
        > li {
            display: block;
            position: relative;
            counter-increment: step-counter;

            &:before {
                content: counter(step-counter)')';
                display: inline-block;
                margin-right: 5px;
            }

            span {
                display: block;
                font-weight: 700;
                padding-top: 15px;
            }
        }

        ul {
            margin-bottom: 15px;

            > li {
                &:before {
                    content: '-';
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        p {
            margin-bottom: 15px;
        }
    }
}

.album-details {
    list-style: none;

    li {
        display: block;
        margin-bottom: 12px;
        color: #271420;
        font-size: 14px;
        font-weight: 400;

        span {
            display: inline-block;
            margin-left: 5px;
            color: $violet;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

.album-price {
    display: inline-block;
    color: #4f3e70;
    font-size: 24px;
    font-weight: 700;
    float: left;
    width: 50%;

    span {
        font-size: 36px;
        font-weight: 700;
    }
}

.album-order {
    .butn {
        padding: 15px;
        border-radius: 50px;
        float: right;
        text-transform: uppercase;
        min-width: initial;
        max-width: 250px;
        width: 50%;
    }
}

.go-to-butn-holder {
    padding-top: 120px;
    text-align: center;
}

.slider-album, .gallery{
    margin-bottom: 10px;

    &__item {
        img {
            width: 100%;
        }
    }

    .slick-dots {
        list-style: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;

        li {
            display: inline-block;
            border-radius: 50%;
            margin-right: 7px;
            width: 11px;
            height: 11px;
            border: 1px solid #ffffff;
            position: relative;

            &:before {
                @include pseudo;
                border-radius: 50%;
                background: #fff;
                right: 50%;
                left: 50%;
                top: 50%;
                bottom: 50%;
                @include trans;
            }

            &.slick-active {
                &:before {
                    @include pseudo;
                    border-radius: 50%;
                    background: #fff;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            button {
                display: none;
            }
        }
    }
}

.slider-album-nav {
    margin: 0 0 0 -5px;

    &__item {
        padding: 0 5px 10px;
        min-width: 25%;

        img {
            width: 100%;
        }

        &.slick-current {
            .slider-album-nav__img-wrap {
                background-color: #1b191a;
            }

            img {
                opacity: 0.5;
            }
        }
    }
}

.banner_bg-gallery {
    background: #894dbe url("../img/bg-gallery.png") no-repeat center;
    background-size: cover;
}
.gallerys-wrap{
        overflow: hidden;

}
.gallerys{
    font-size: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-caption{
    width: 306px;
    height: 306px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    img {
        min-height: 100%;
        min-width: 100%;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .gallery-caption__title {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        background: rgba(#1b191a, .5);

        span {
            position: absolute;
            display: block;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            opacity: 0
        }
    }
    &:hover{
        .gallery-caption__title {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            span {
                opacity: 1;
            }
        }
    }
}
.gallery{
    display: none;
}
