/* --== footer ==--*/
.footer__top {
    background-color: #322d3c;
    padding: 24px 0 22px;

    a[href*='tel'] {
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
    }
}

.footer__logo {
    a {
        display: block;
        margin-bottom: 18px;
    }

    img {
        max-width: 137px;
    }

    span {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1;
    }
}

.footer__item-title {
    padding-top: 25px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 45px;
}

.footer__nav {
    list-style: none;

    li {
        display: block;
        margin-bottom: 8px;

        a {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -.5px;
        }
    }

    &_2col {
        overflow: hidden;

        li {
            width: 50%;
            float: left;
        }
    }
}

.footer__socials {
    a {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 37px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .icon-instagram {
        margin-right: 27px;
    }

    .icon-facebook {
        margin-right: 31px;
        margin-left: 6px;
    }
}

.footer__bottom {
    background-color: #1c1922;
    padding: 15px 0;

    p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
}

.copyright {
    text-align: center;

    a {
        color: #8b4ba9;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.modal-dialog {
    margin-top: 70px;
}

.modal-content {
    position: relative;
}

.close-modal {
    top: -15px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;

    &:hover {
        opacity: 0.8;
    }
}
.foggot{
opacity: 0.41;
color: #fff;
font-size: 14px;
font-weight: 400;
}

.modal-backdrop{
    background: #1b191a;
}
.modal-backdrop.in{
    opacity: .9;
}
