header {
    padding-top: 70px;
    position: absolute;
    right: 0;
    left: 0;

    .butn_call {
        position: relative;
        transform: translateX(-100%);
        float: left;
    }

    a[href*='tel'] {
        padding-top: 5px;
        display: inline-block;
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        padding-left: 25px;
        float: left;
        position: relative;
        transform: translateX(100%);

        b {
            font-weight: 600;
        }

        &:hover {
            text-decoration: none;
            opacity: 0.8;
        }
    }
}

#nav {
    float: right;
    list-style: none;
    display: block;

    li {
        display: inline-block;
        margin-left: 20px;
        position: relative;

        &:last-child {
            margin-left: 0;
        }

        &.current {
            a {
                &:before {
                    right: 0;
                }
            }
        }

        > a {
            display: inline-block;
            line-height: 45px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
            padding: 12px 10px;
            position: relative;

            &:before {
                @include pseudo;
                bottom: 0;
                left: 0;
                right: 100%;
                height: 4px;
                background-color: #ffffff;
                @include trans;
            }

            &.cabinet {
                position: absolute;
                bottom: calc(100% + 27px);
                right: 0;
                padding-left: 35px;
                color: #ffffff;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400!important;
                white-space: nowrap;
                text-transform: none!important;

                &:before {
                    display: none;
                }

                &:after {
                    @include pseudo;
                    background-image: url("../img/sprite.png");
                    background-position: -149px -75px;
                    width: 21px;
                    height: 24px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            &:hover {
                text-decoration: none;

                &:before {
                    right: 0;
                }
            }
        }
    }
}

.header__socials {
    margin-left: 35px;
    display: inline-block;
    height: 45px;
    width: 124px;
    text-align: center;
    border-radius: 22px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    line-height: 45px;

    a {
        display: inline-block;
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }
    }

    a+a {
        margin-left: 25px;
    }
}

#hamburger {
    display: none;
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    margin: -8px 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 9px;
}

#hamburger span:nth-child(4) {
    top: 18px;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}
