/*MEDIA QUERY*/
@media (min-width: 642px) {
    .gallerys {
        width: 612px;
    }
}
@media (min-width: 1200px) {
    .gallerys {
        width: 918px;
    }
}
@media (min-width: 1360px) {
    .container {
        width: 1340px;
    }

    .gallerys {
        width: 1224px;
    }
}
@media (min-width: 1580px) {
    .container {
        width: 1560px;
    }

    .gallerys {
        width: 1530px;
    }
}
@media (max-width: 1359px) {
    header a[href*='tel'] {
        padding-top: 0;
        max-width: 250px;
        display: block;
        padding-left: 0;
        float: none;
        position: relative;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        margin-bottom: 24px;
    }

    header .butn_call {
        position: relative;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    #nav li {
        margin-left: 0;
    }

    .header__socials {
        margin-left: 0;
    }

    header {
        padding-top: 30px;
    }

    .price__title {
        font-size: 30px;
    }

    .price__value span {
        font-size: 45px;
    }

    .footer__item-title {
        font-size: 20px;
    }

    .footer__top a[href*='tel'] {
        font-size: 20px;
    }

    .footer__nav li a {
        font-size: 16px;
    }

    .footer__socials .icon-instagram {
        margin-right: 17px;
    }

    .footer__socials .icon-facebook {
        margin-right: 21px;
    }

    .album-description-wrap {
        padding-left: 15px;
    }
}
@media (max-width: 1199px) {
    .how-it-wroks .row [class*='col-'] {
        padding: 0 15px;
    }

    .how-it-wroks .row [class*='col-']:nth-child(5) {
        margin-left: 0;
    }

    .how-it-wroks .row [class*='col-']:nth-child(7) {
        margin-left: 33.3333%;
    }

    .how-it-wroks .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .promo__undertitle {
        margin-bottom: 0;
        font-size: 30px;
    }

    .promo__subtitle p {
        font-size: 18px;
    }

    .promo__list {
        font-size: 21px;
    }

    .footer__logo span {
        font-size: 16px;
        display: block;
        text-align: center;
    }

    .slider-album-nav {
        margin-bottom: 30px;
    }
}
@media (min-width: 992px) {
    #nav {
        display: block!important;
    }

    .container_fluid-desc {
        width: 100%;
    }
}
@media (max-width: 991px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 9px 0;
        background-color: #a2a2a2;
        background-image: linear-gradient(to top, #775ac8 0%, #775ac8 32%, #9d71ea 100%);
        z-index: 800;
    }

    #nav {
        width: 100%;
        clear: both;
        display: none;
        padding: 55px 0 49px;
        position: static;
        float: none;
        z-index: 800;

        li {
            display: block;
            text-align: center;
            margin-bottom: 36px;

            &:last-child {
                margin-top: 50px;
            }

            a {
                &:before {
                    height: 2px;
                }
            }
        }
    }

    #nav li > a.cabinet {
        position: relative;
        bottom: initial;
        right: initial;
        display: inline-block;
        margin-left: 34px;
        font-size: 14px;
    }

    .header__socials {
        display: inline-block;
        border-color: transparent;
        width: auto;

        a {
            display: inline-block;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            position: relative;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    header a[href*='tel'] {
        margin-bottom: 1px;
        font-size: 16px;
        position: relative;
    }

    .butn {
        font-size: 14px;
        padding: 6px 15px;
        min-width: initial;
    }

    .butn_call {
        text-transform: none;
        padding-left: 30px;

        &:before {
            left: 10px;
        }
    }

    .section__title:before {
        height: 3px;
    }

    header .butn_call {
        position: relative;
        z-index: 900;
    }

    #hamburger {
        display: block;
    }

    section.banner {
        min-height: initial;
        padding: 90px 0 140px;
    }

    .banner__title h1 {
        font-size: 53px;
    }

    .banner__title h1 span {
        font-size: 38px;
    }

    .banner__subtitle {
        font-size: 34px;

        b {
            font-size: 70px;
        }
    }

    .how-it-wroks .row [class*='col-'] {
        &:nth-child(odd) {
            clear: left;
        }

        &:last-child {
            .how {
                margin-bottom: 20px;
            }
        }
    }

    .how-it-wroks .row [class*='col-']:nth-child(7) {
        margin-left: 25%;
    }

    .section {
        padding: 50px 0;

        &__title {
            h2 {
                font-size: 40px;
            }
            margin-bottom: 30px;
        }
    }

    .slider,
    .slider-fluid {
        padding: 0 30px;
    }

    .slider-wrap {
        margin-bottom: 55px;
    }

    .slider__title {
        font-size: 29px;
        margin-bottom: 25px;
    }

    #slider-fluid__dotts {
        display: none;
    }

    .redirect__butn-holder {
        text-align: center;

        .butn {
            max-width: 185px;
        }
    }

    .redirect p {
        margin: 0 auto 20px;
        text-align: center;
        font-size: 32px;
    }

    ,
    .why {
        width: 520px;
        max-width: 100%;
        margin: 0 auto 30px;
        min-height: initial;
        padding-right: 80px;
    }

    .why_right {
        padding-left: 80px;
        padding-right: 0;
    }

    .why__icon-wrap {
        right: 0;
    }

    .why_right .why__icon-wrap {
        left: 0;
    }

    .why-we {
        background: linear-gradient(to top, #e3e3df 20%, #c6c6c1 80%);

        .section__title {
            margin-bottom: 50px;
        }
    }

    .why__text {
        &:after,
        &:before {
            display: none;
        }
    }

    .why__title {
        font-size: 18px;
        line-height: 1.3;
    }

    .why__title:before {
        top: -30px;
        right: 0;
    }

    .why_right .why__title:before {
        right: initial;
        left: 0;
    }
    // .masonry__item{
    //     width: 40%;
    // }
    // 	.masonry__item.masonry__item_xl{
    //         width: 60%;
    //     }
    .butn_more {
        padding-right: 50px;
    }

    .butn_more:after,
    .butn_more:before {
        right: 15px;
    }

    .butn_more:before {
        height: 10px;
        width: 10px;
        margin-top: -4px;
    }

    .butn_more:after {
        width: 21px;
    }

    .butn_xl {
        padding-top: 10px;
        padding-bottom: 11px;
    }

    .price__title {
        font-size: 30px;
    }

    .price {
        margin-bottom: 30px;
        padding: 25px 0 90px;

        &:nth-child(2) {
            margin-right: 0;
        }

        .price__butn {
            bottom: 30px;

            .butn {
                min-width: 153px;
            }
        }
    }

    .got-questions__butn {
        .butn {
            min-width: 234px;
        }
    }

    .form-wrap {
        padding: 40px 30px;
        max-width: 520px;
    }

    .form-wrap__title {
        margin: 0 auto 25px;
    }

    .form-wrap__title {
        font-size: 20px;

        b {
            font-size: 30px;
        }
    }

    .input-row_butn {
        text-align: center;

        .butn_xl {
            min-width: 190px;
        }
    }

    .form .input-row_butn {
        padding: 30px 0 0;
    }

    .footer__logo {
        text-align: center;

        a {
            display: inline-block;
        }

        span {
            display: block;
            font-size: 10px;
        }

        img {
            max-width: 70px;
        }
    }

    .footer__item-title {
        display: none;
    }

    .footer__socials {
        text-align: center;

        a {
            display: inline-block;
            margin-bottom: 0;

            span {
                display: none;
            }
        }
    }

    .footer__item-title_show-on-mob {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 15px;
        padding-top: 0;
        font-size: 12px;
        text-transform: uppercase;
    }

    .footer__nav {
        display: inline-block;

        li {
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 0;

            a {
                font-size: 12px;
            }
        }
    }

    .footer__nav_2col {
        display: block;
        text-align: center;

        li {
            width: auto;
            float: none;
        }
    }

    .footer__item {
        padding: 15px;
        border-top: 1px solid #fff;
    }

    .footer__top {
        padding-bottom: 0;

        a[href*='tel'] {
            font-size: 18px;
        }

        .row {
            .footer__item {
                &:nth-child(2),
                &:nth-child(3) {
                    border-top: none;
                }

                &:nth-child(4) {
                    text-align: center;
                }
            }
        }
    }

    .copyright a {
        font-size: 10px;
    }

    .footer__bottom {
        text-align: center;

        p {
            font-size: 10px;
        }
    }

    .form input {
        font-weight: 400;
    }

    .slider-album {
        margin-bottom: 30px;
    }

    .slider-album-nav {
        display: none;
    }


}
@media (max-width: 641px) {
    .banner .logo {
        max-width: 85px;
    }

    .banner__title h1 {
        font-size: 40px;
    }

    .banner__title h1 span {
        font-size: 30px;
    }

    .banner__subtitle {
        font-size: 30px;

        b {
            font-size: 60px;
        }
    }

    .price {
        display: block;
        margin: 0 auto 30px !important;
    }
    .gallery {
        display: block;
    }

    .gallery-caption {
        width: auto;
        height: auto;

        img {
            display: none;
        }
    }

    .gallery-caption .gallery-caption__title {
        position: static;
        background: transparent;

        span {
            position: static;
            color: #4f3e70;
            font-size: 14px;
            font-weight: 700;
            opacity: 1;
            transform: translate(0, 0);
            margin: 16px 0;
        }
    }
}
@media (max-width: 520px) {
    //mob for
    .banner__title h1 {
        font-size: 24px;
    }

    .banner__title h1 span {
        font-size: 16px;
    }

    .banner__subtitle {
        font-size: 16px;

        b {
            font-size: 48px;
        }
    }

    .how-it-wroks .row [class*='col-']:nth-child(7) {
        margin-left: 0;
    }

    .how-it-wroks .row [class*='col-'] {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    .how {
        margin-bottom: 30px;
    }

    .section {
        padding: 35px 0;

        &__title {
            margin-bottom: 20px;

            h2 {
                font-size: 22px;
            }
        }
    }

    .promo__undertitle {
        font-size: 22px;
    }

    .promo__subtitle {
        margin-bottom: 17px;

        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    .promo__list {
        font-size: 18px;

        li {
            display: block;
            padding-bottom: 23px;
            padding-left: 0;
            margin-bottom: 15px;

            &:before {
                top: initial;
                left: 50%;
                margin-left: -7px;
                bottom: 0;
            }

            &:last-child {
                padding-right: 0;
                margin-bottom: 0;

                &:after,
                &:before {
                    display: none;
                }
            }
        }
    }

    .slider,
    .slider-fluid {
        padding: 0;

        .slick-arrow {
            width: 44px;
        }
    }

    .slider-wrap {
        margin: 0 -15px 25px;
    }

    .slider__title {
        font-size: 22px;
    }

    .slider__item {
        padding: 0;
    }

    .redirect p {
        font-size: 18px;
    }

    .price__title {
        font-size: 22px;
    }

    .price__value {
        font-size: 22px;

        span {
            font-size: 36px;
        }
    }

    .price__details {
        font-size: 14px;
        padding: 10px;
        min-height: initial;
    }

    .section__title span {
        font-size: 16px;
    }

    .got-questions__img {
        img {
            max-width: 86px;
        }
    }

    .testemonial__img {
        width: 95px;
        height: 95px;
        box-shadow: -19px -13px 0 0 #4f3e70;
    }

    .testemonials-slider .slick-arrow {
        height: 124px;
    }

    .testemonial__title {
        font-size: 16px;
        padding: 0 13px;
        margin-bottom: 13px;
    }

    .testemonial__title:after,
    .testemonial__title:before {
        width: 18px;
    }

    .testemonial__text {
        p {
            font-size: 14px;
        }
    }

    .testemonials-slider .slick-arrow-left {
        transform: translateX(-90px);
    }

    .testemonials-slider .slick-arrow-right {
        transform: translateX(130px);
    }

    .form-wrap {
        padding: 30px 10px;
    }

    .form .input-row {
        padding: 0;
    }

    .form .input-row_butn {
        padding: 25px 0 0;
    }

    .form-wrap__title {
        font-size: 14px;

        b {
            font-size: 18px;
        }
    }

    .form-wrap__title {
        margin: 0 auto 13px;
    }

    .close-modal {
        top: 15px;
        right: 15px;
    }

    .slider-album {
        margin: 0 -15px 30px;
    }

    .album-description__title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .album-description__title:before {
        width: 45px;
        height: 1px;
    }

    .album-description__subtitle {
        margin-bottom: 25px;
    }

    .album-description ol > li span {
        padding-top: 5px;
    }

    .album-description ol ul {
        margin-bottom: 5px;
    }

    .album-description ol p {
        margin-bottom: 5px;
    }

    .album-description {
        margin-bottom: 20px;
    }

    .album-details {
        margin-bottom: 30px;
    }

    .album-details li {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .album-details li span {
        font-size: 12px;
    }

    .album-price {
        font-size: 14px;
    }

    .album-price span {
        font-size: 22px;
    }

    .album-order .butn {
        padding: 6px;
        text-transform: none;
        font-size: 12px;
    }

    .go-to-butn-holder {
        padding-top: 40px;
    }
    .gallery{
        margin: 0;
    }
    .gallerys-wrap{
        margin: 0 -15px;
    }
    .gallery-caption__title span{
        padding-left: 15px;
    }
}
