/* ---=== Icons ===--- */
.icon-avatar {
  background-image: url(../img/sprite.png);
  background-position: -149px -75px;
  width: 21px;
  height: 24px;
}
.icon-facebook {
    display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -317px -123px;
  width: 9px;
  height: 20px;
}
.how__icon_1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -75px;
  width: 71px;
  height: 71px;
}
.how__icon_2 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 78px;
  height: 70px;
}
.how__icon_3 {
  background-image: url(../img/sprite.png);
  background-position: -83px 0px;
  width: 91px;
  height: 58px;
}
.how__icon_4 {
  background-image: url(../img/sprite.png);
  background-position: -179px 0px;
  width: 72px;
  height: 61px;
}
.how__icon_5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -151px;
  width: 78px;
  height: 55px;
}
.how__icon_6 {
  background-image: url(../img/sprite.png);
  background-position: -256px -61px;
  width: 68px;
  height: 57px;
}
.how__icon_7 {
  background-image: url(../img/sprite.png);
  background-position: -256px 0px;
  width: 74px;
  height: 56px;
}
.icon-icon-expand {

  background-image: url(../img/sprite.png);
  background-position: -256px -123px;
  width: 56px;
  height: 56px;
}
.icon-instagram {
  background-image: url(../img/sprite.png);
  background-position: -256px -184px;
  width: 19px;
  height: 20px;
  display: inline-block;
  
}
.why__icon_1 {
  background-image: url(../img/sprite.png);
  background-position: -179px -66px;
  width: 54px;
  height: 57px;
}
.why__icon_2 {
  background-image: url(../img/sprite.png);
  background-position: -83px -151px;
  width: 56px;
  height: 50px;
}
.why__icon_3 {
  background-image: url(../img/sprite.png);
  background-position: -76px -75px;
  width: 68px;
  height: 67px;
}
.why__icon_4 {
  background-image: url(../img/sprite.png);
  background-position: 0px -269px;
  width: 42px;
  height: 54px;
}
.why__icon_5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -211px;
  width: 43px;
  height: 53px;
}
.why__icon_6 {
  background-image: url(../img/sprite.png);
  background-position: -144px -151px;
  width: 46px;
  height: 46px;
}
