@font-face {
	font-family: 'code_pro';
	src: url('../fonts/code/code_pro_bold-webfont.eot');
	src: url('../fonts/code/code_pro_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/code/code_pro_bold-webfont.woff2') format('woff2'), url('../fonts/code/code_pro_bold-webfont.woff') format('woff'), url('../fonts/code/code_pro_bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'code_pro';
	src: url('../fonts/code/code_pro_light-webfont.eot');
	src: url('../fonts/code/code_pro_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/code/code_pro_light-webfont.woff2') format('woff2'), url('../fonts/code/code_pro_light-webfont.woff') format('woff'), url('../fonts/code/code_pro_light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'code_pro';
	src: url('../fonts/code/code_pro-webfont.eot');
	src: url('../fonts/code/code_pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/code/code_pro-webfont.woff2') format('woff2'), url('../fonts/code/code_pro-webfont.woff') format('woff'), url('../fonts/code/code_pro-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;

	&:active,
	&:focus {
		outline: none!important;
		text-decoration: none!important;
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 16px;
}

.clearfix:after,
.clearfix:before {
	content: ' ';
	display: table;
	clear: both;
}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin trans($type: all .3s ease-in-out ) {
	transition: $type;
}
$violet: #894dbe;
$violet-dark: #4f3e70;
$yellow: #f2a809;
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
	margin: 0;
	padding: 0;
}

.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@keyframes moveTop {
	0%{
		top: 0px;

	}
	50%{
		top: -20px;
		
	}
	100%{
		top: 0;
	}


}
@import 'sprite';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
